<template lang="html">
  <div class="col-xs-10" v-cloak>
    <div class="row">
      <h1 class="page-header col-xs-8">咖啡豆管理</h1>
      <div class="page-header col-xs-2 addone" >
        <button type="button" class="btn btn-info btn-cos btn-sm" @click.self.prevent="refresh()"><span class="glyphicon glyphicon-link" aria-hidden="true"> </span> 重新整理</button>
        <button type="button" class="btn btn-info btn-cos btn-sm"><router-link to="/beanadd"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> </span> 建立咖啡</router-link></button>
      </div>
    </div>
      <!-- 表單組件 -->
      <beans-table :rows="rows"
               :titles="titles"
               @routeToUpdate="toUpdate"
               @routeToDelete="toDelete"
               >
      </beans-table>
    <img class="img-thumbnail img-beans" src="../assets/img/loading.gif" v-show="!loaded" />
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
// import { helperMixins } from "../mixins/helper-mixins";
import beanstable from "../componentsTable/beanstable.vue";
import * as myConst from "../assets/js/const";
export default {
  data() {
    return {
      // C
      access_token: "",
      // V
      loaded: false,
      // QueryString
      title_name: "",
      price: "",
      context: "",
      times: "",
      rows: [],
      // Table
      titles: [
        {
          name: "名稱",
          key: "name"
        },
        {
          name: "品種",
          key: "varietial"
        },
        {
          name: "產地",
          key: "region"
        },
        {
          name: "烘焙度",
          key: "roast_scale"
        },
        {
          name: "售價",
          key: "price"
        },
        {
          name: "更新",
          key: "update"
        },
        {
          name: "刪除",
          key: "delete"
        }
      ]
    };
  },
  components: {
    "beans-table": beanstable
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    ...mapActions(["updateStatus"]),
    ...mapGetters(["jwtDecode"]),
    getBeans(token) {
      return new Promise((resolve, reject) => {
        this.apiGetBean(
          (error, result) => {
            if (error) {
              if (result.responseJSON.success === false) {
                this.loaded = false;
                this.$swal({
                  title: "該使用者無權限訪問該頁面",
                  text: `${result.responseJSON.message}`,
                  type: "error"
                }).then(
                  () => {
                    this.updateStatus(true);
                    router.push({ path: "/home" });
                  },
                  dismiss => {}
                );
                resolve(false);
              } else {
                this.loaded = false;
                this.$swal({
                  title: "連線中斷，請稍候重試",
                  text: `${error}`,
                  type: "error"
                }).then(
                  () => {
                    this.updateStatus(false);
                    router.push({ path: "/login" });
                  },
                  dismiss => {}
                );
                resolve(true);
              }
            } else {
              //使用者資料存進rows
              this.loaded = true;
              this.rows = result;
            }
          },
          token
        );
      });
    },
    // --------------------------------
    // C: 前往編輯
    // --------------------------------
    toUpdate(set) {
      router.push({ name: "BeanEdit", params: { id: set._id } });
    },
    // --------------------------------
    // C: 前往刪除
    // --------------------------------
    toDelete(set) {
      this.$swal({
        title: `確定刪除嗎?`,
        text: `注意！刪除後無法回覆`,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5bc0de",
        cancelButtonColor: "#d9534f",
        confirmButtonText: "確認刪除",
        cancelButtonText: "取消"
      }).then(
        () => {
          this.deleteBean(set._id, this.access_token);
        },
        dismiss => {}
      );
    },
    deleteBean(id, token) {
      this.apiDelBean(
        id,
        (error, result) => {
          if (error) {
            this.loaded = false;
            this.$swal({
              title: "連線中斷，請稍候重試",
              text: `${error}`,
              type: "error"
            }).then(
              () => {
                this.updateStatus(false);
                router.push({ path: "/login" });
              },
              dismiss => {}
            );
          } else {
            this.refresh();
          }
        },
        token
      );
    },
    // --------------------------------
    // C: 重新整理
    // --------------------------------
    refresh: async function() {
      this.rows = [];
      this.loaded = false;
      let result = await this.getBeans(
        this.access_token,
        this.$route.params.username
      );
      if (result) {
        return setTimeout(() => (this.loaded = true), 0);
      } else {
        this.noDataHandler();
      }
    },
    noDataHandler() {
      this.$swal({
        title: "查無資料",
        type: "warning"
      }).then(
        () => {
          this.loaded = true;
        },
        dismiss => {
          this.loaded = true;
        }
      );
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    let result = await this.getBeans(this.access_token);
    if (result) {
      return setTimeout(() => (this.loaded = true), 0);
    } else {
      this.noDataHandler();
    }
  }
};
</script>

<style>
.img-beans{
  position: absolute;
  left: 50px;
  top: 165px;
  z-index: 1;
}
</style>
