<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link :to="{name:'Beans',params:{username: this.username}}">咖啡豆管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 編輯咖啡豆</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 編輯咖啡豆</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
               <!-- panel name -->
                <div class="form-group">
                    <label for="varietial" class="col-xs-2 control-label">咖啡豆名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="name"
                        name="name"
                        v-model="name"
                        class="form-control form-feedback" 
                        placeholder="輸入咖啡豆品種"
                        >
                    </div>
                </div>
                <!-- panel varietial -->
                <div class="form-group">
                    <label for="varietial" class="col-xs-2 control-label">咖啡豆品種</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="varietial"
                        name="varietial"
                        v-model="varietial"
                        class="form-control form-feedback"
                        placeholder="輸入咖啡豆品種"
                        >
                    </div>
                </div>
                <!-- panel region -->
                <div class="form-group">
                    <label for="region" class="col-xs-2 control-label">產地</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="region"
                        name="region"
                        v-model="region"
                        class="form-control form-feedback" 
                        placeholder="輸入產地">

                    </div>
                </div>
                <!-- panel price -->
                <div class="form-group">
                    <label for="price" class="col-xs-2 control-label">售價</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="price"
                        name="price"
                        v-model="price"
                        v-validate="{numeric:true}"
                        class="form-control form-feedback"
                        placeholder="輸入售價">
                        <p class="error-msg" v-show="errors.has('price')">{{errors.first('price')}}</p>
                    </div>
                </div>
                <!-- panel stock -->
                <div class="form-group">
                    <label for="stock" class="col-xs-2 control-label">庫存量（kg）</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="stock"
                        name="stock"
                        v-model="stock"
                        v-validate="{numeric:true}"
                        class="form-control form-feedback"
                        placeholder="輸入庫存量（kg）">
                        <p class="error-msg" v-show="errors.has('stock')">{{errors.first('stock')}}</p>
                    </div>
                </div>
                <!-- panel roast_scale -->
                <div class="form-group">
                    <label for="roast_scale" class="col-xs-2 control-label">烘焙度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roast_scale"
                        name="roast_scale"
                        v-model="roast_scale"
                        v-validate="{numeric:true}"
                        class="form-control form-feedback"
                        placeholder="輸入烘焙度">
                        <p class="error-msg" v-show="errors.has('roast_scale')">{{errors.first('roast_scale')}}</p>
                    </div>
                </div>
                <!-- panel farm -->
                <div class="form-group">
                    <label for="farm" class="col-xs-2 control-label">莊園</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="farm"
                        name="farm"
                        v-model="farm"
                        class="form-control form-feedback"
                        placeholder="輸入莊園">
                    </div>
                </div>
                <!-- panel process -->
                <div class="form-group">
                    <label for="process" class="col-xs-2 control-label">處理方式</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="process"
                        name="process"
                        v-model="process"
                        class="form-control form-feedback"
                        placeholder="輸入處理方式">
                    </div>
                </div>
                <!-- panel elevation -->
                <div class="form-group">
                    <label for="elevation" class="col-xs-2 control-label">海拔</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="elevation"
                        name="elevation"
                        v-model="elevation"
                        class="form-control form-feedback"
                        placeholder="輸入海拔">
                    </div>
                </div>
                <!-- panel grade -->
                <div class="form-group">
                    <label for="grade" class="col-xs-2 control-label">年份</label>
                    <div class="col-xs-8">
                        <datepicker v-model="grade"></datepicker>
                    </div>
                </div>
                <!-- panel harvest_date -->
                <div class="form-group">
                    <label for="harvest_date" class="col-xs-2 control-label">收穫日期</label>
                    <div class="col-xs-8">
                        <datepicker v-model="harvest_date"></datepicker>
                    </div>
                </div>
                <!-- panel organic -->
                <div class="form-group">
                    <label for="organic" class="col-xs-2 control-label">是否有機</label>
                    <div class="col-xs-8 label_input">
                      <input type="radio" id="one" value=true v-model="organic">
                        <label for="one">有機</label>
                        <input type="radio" id="two" value=fasle v-model="organic">
                        <label for="two">無</label>
                    </div>
                </div>
                <!-- panel vendor -->
                <div class="form-group">
                    <label for="vendor" class="col-xs-2 control-label">經銷商</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="vendor"
                        name="vendor"
                        v-model="vendor"
                        class="form-control form-feedback"
                        placeholder="輸入經銷商">
                    </div>
                </div>
                <!-- panel lot_number -->
                <div class="form-group">
                    <label for="lot_number" class="col-xs-2 control-label">流水號</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="lot_number"
                        name="lot_number"
                        v-model="lot_number"
                        class="form-control form-feedback"
                        placeholder="輸入流水號">
                    </div>
                </div>
                <!-- panel owners -->
                <div class="form-group">
                    <label for="owners" class="col-xs-2 control-label">購買人</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="owners"
                        name="owners"
                        v-model="owners"
                        class="form-control form-feedback"
                        placeholder="輸入購買人">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link :to="{name:'Beans',params:{username: this.username}}"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import moment from "moment";
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import datepicker from "../components/datepicker.vue";
import jwtDecode from "jwt-decode";
export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      username: "",
      access_token: "",
      name: "",
      varietial: "",
      region: "",
      price: "",
      stock: "",
      roast_scale: "",
      farm: "",
      process: "",
      elevation: "",
      grade: "",
      harvest_date: "",
      organic: "",
      vendor: "",
      lot_number: "",
      owners: "",
      bean: {},
      ownersarr: []
    };
  },
  components: {
    datepicker: datepicker
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    // --------------------------------
    // 取得詳情、更新資料
    // --------------------------------
    getBean(id, token) {
      return new Promise((resolve, reject) => {
        this.apiGetBeans(
          id,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.bean = result.bean;
            resolve(true);
          },
          token
        );
      });
    },
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.putBean(this.access_token);
          } else {
            throw new Error();
          }
        })
        .catch(error => {
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    refresh: async function() {
      this.access_token = this.cookie_pull("access_token");
      let result = await this.getBean(
        this.$route.params.id,
        this.access_token
      );
      if (result) {
        return setTimeout(() => {
          this.loaded = true;
          this.initHandler();
        }, 0);
      } else {
        return router.push({ path: `/beans/user/${this.username}` });
      }
    },
    updatedBeanFormater() {
      return {
        name: this.name,
        varietial: this.varietial,
        region: this.region,
        price: this.price,
        stock: this.stock,
        roast_scale: this.roast_scale,
        farm: this.farm,
        process: this.process,
        elevation: this.elevation,
        grade: new Date(this.grade),
        harvest_date: new Date(this.harvest_date),
        organic: this.organic,
        vendor: this.vendor,
        lot_number: this.lot_number,
        owners: this.ownersarr
      };
    },
    ownerToArray() {
      if (this.owners !== "") {
        let str = this.owners.split(",");
        this.ownersarr = str;
      }
      return;
    },
    putBean: async function(token) {
      this.ownerToArray();
      const updatedBean = this.updatedBeanFormater();

      let isPass = false;
      try {
        isPass = await this.putBeanBasic(
          this.$route.params.id,
          updatedBean,
          this.access_token
        );
        if (!isPass) {
          throw "更新資料錯誤";
        }
      } catch (error) {
        this.refresh();
      }
      if (isPass) {
        this.successHandler();
      }
    },
    putBeanBasic(id, updatedBean, token) {
      return new Promise((resolve, reject) => {
        this.apiPutBean(
          id,
          updatedBean,
          (error, result) => {
            if (error) {
              this.isProcess = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            } else if (result.code === -1) {
              this.isProcess = false;
              this.$swal({
                title: "ERROR",
                text: `${result.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              resolve(true);
            }
          },
          token
        );
      });
    },
    initHandler() {
      this.name = this.bean.name;
      this.varietial = this.bean.varietial;
      this.region = this.bean.region;
      this.price = this.bean.price;
      this.stock = this.bean.stock;
      this.roast_scale = this.bean.roast_scale;
      this.farm = this.bean.farm;
      this.process = this.bean.process;
      this.elevation = this.bean.elevation;
      this.grade = moment(this.bean.grade).format("l");
      this.harvest_date = moment(this.bean.harvest_date).format("l");
      this.organic = this.bean.organic;
      this.vendor = this.bean.vendor;
      this.lot_number = this.bean.lot_number;
      this.owners = this.bean.owners.toString();
    },
    successHandler() {
      this.$swal({
        title: "修改成功",
        text: ``,
        type: "success",
        confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`,
        showCancelButton: true,
        cancelButtonColor: "#d9534f",
        cancelButtonText: `<span class="glyphicon glyphicon-repeat"></span>繼續修改`
      }).then(
        () => router.push({ path: '/beans' }),
        dismiss => this.refresh()
      );
    },
    getUser() {
      this.access_token = this.cookie_pull("access_token");
      let name = jwtDecode(this.access_token);
      return name.username;
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    this.username = this.getUser();
    let result = await this.getBean(this.$route.params.id, this.access_token);
    
    if (result) {
      return setTimeout(() => {
        this.loaded = true;
        this.initHandler();
      }, 0);
    } else {
      return router.push({ path: "/beans" });
    }
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>

