<template lang="html">
  <div class="col-xs-10" v-cloak>
    <div class="row">
      <h1 class="page-header col-xs-8">商品管理</h1>
      <div class="page-header col-xs-2 addone" >
        <button type="button" class="btn btn-info btn-cos btn-sm" @click.self.prevent="refresh()"><span class="glyphicon glyphicon-link" aria-hidden="true"> </span> 重新整理</button>
        <button type="button" class="btn btn-info btn-cos btn-sm"><router-link to="/commoditiesadd"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> </span> 建立新商品</router-link></button>
      </div>
    </div>
      <!-- 表單組件 -->
      <c-table :rows="rows"
               :titles="titles"
               @routeToUpdate="toUpdate"
               @routeToDelete="toDelete"
               >
      </c-table>
    <img class="img-thumbnail" src="../assets/img/loading.gif" v-show="!loaded" />
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import commoditiestable from "../componentsTable/commoditiestable.vue";
import * as myConst from "../assets/js/const";
export default {
  data() {
    return {
      // C
      access_token: "",
      // V
      loaded: false,
      // QueryString
      title_name: "",
      price: "",
      context: "",
      times: "",
      rows: [],
      // Table
      titles: [
        {
          name: "商品名稱",
          key: "title"
        },
        {
          name: "價格",
          key: "price"
        },
        {
          name: "內容",
          key: "context"
        },
        {
          name: "次數",
          key: "times"
        },
        {
          name: "更新",
          key: "update"
        },
        {
          name: "刪除",
          key: "delete"
        }
      ]
    };
  },
  components: {
    "c-table": commoditiestable
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    ...mapActions(["updateStatus"]),
    getCommodities(token) {
      return new Promise((resolve, reject) => {
        this.apiGetCommodities((error, result) => {
          if (error) {
            if (result.responseJSON.success === false) {
              this.loaded = false;
              this.$swal({
                title: "該使用者無權限訪問該頁面",
                text: `${result.responseJSON.message}`,
                type: "error"
              }).then(
                () => {
                  this.updateStatus(true);
                  router.push({ path: "/home" });
                },
                dismiss => {}
              );
              resolve(false);
            } else {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              }).then(
                () => {
                  this.updateStatus(false);
                  router.push({ path: "/login" });
                },
                dismiss => {}
              );
              resolve(true);
            }
          }
          //使用者資料存進rows
          this.loaded = true;
          this.rows = result.commodities;
        }, token);
      });
    },
    // --------------------------------
    // C: 前往編輯
    // --------------------------------
    toUpdate(set) {
      router.push({ name: "CommoditiesEdit", params: { title: set._id } });
    },
    // --------------------------------
    // C: 前往刪除
    // --------------------------------
    toDelete(set) {
      this.$swal({
        title: `確定刪除${set.title}方案嗎?`,
        text: `注意！刪除後無法回覆`,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5bc0de",
        cancelButtonColor: "#d9534f",
        confirmButtonText: "確認刪除",
        cancelButtonText: "取消"
      }).then(
        () => {
          this.deleteCommodities(set._id, this.access_token);
        },
        dismiss => {}
      );
    },
    deleteCommodities(id,token){
      this.apiDelCommodities(
        id,
        (error, result) => {
          if (error) {
            this.loaded = false;
            this.$swal({
              title: "連線中斷，請稍候重試",
              text: `${error}`,
              type: "error"
            }).then(
              () => {
                this.updateStatus(false);
                router.push({ path: "/login" });
              },
              dismiss => {}
            );
          } else {
            this.refresh();
          }
        },
        token
      );
    },
    // --------------------------------
    // C: 重新整理
    // --------------------------------
    refresh: async function() {
      this.title_name = "";
      this.price = "";
      this.context = "";
      this.times = "";
      this.rows = [];
      this.loaded = false;
      let result = await this.getCommodities(this.access_token);
      if (result) {
        return setTimeout(() => (this.loaded = true), 0);
      } else {
        this.noDataHandler(this);
      }
    },
    noDataHandler() {
      this.$swal({
        title: "查無資料",
        type: "warning"
      }).then(
        () => {
          this.loaded = true;
        },
        dismiss => {
          this.loaded = true;
        }
      );
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    let result = await this.getCommodities(this.access_token);
    if (result) {
      return setTimeout(() => (this.loaded = true), 0);
    } else {
      this.noDataHandler();
    }
  }
};
</script>