<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/commodities">商品管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 新增商品</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 新增商品</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel title -->
                <div class="form-group">
                    <label for="title_name" class="col-xs-2 control-label">商品名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="title_name"
                        name="title_name"
                        v-model="title_name"
                        v-validate="{required:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('title_name') }"
                        placeholder="輸入商品名稱"
                        >
                        <p class="error-msg" v-show="errors.has('title_name')">商品名稱不能為空</p>
                    </div>
                </div>
                <!-- panel price -->
                <div class="form-group">
                    <label for="price" class="col-xs-2 control-label">價格</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="price"
                        name="price"
                        v-model="price"
                        v-validate="{required:true,numeric:true
}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('price') }"
                        placeholder="輸入價格">
                        <p class="error-msg" v-show="errors.has('price')">{{errors.first('price')}}</p>
                    </div>
                </div>
                <!-- panel context -->
                <div class="form-group">
                    <label for="context" class="col-xs-2 control-label">內容</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="context"
                        name="context"
                        v-model="context"
                        v-validate="'required'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('context') }"
                        placeholder="輸入內容">
                        <p class="error-msg" v-show="errors.has('context')">內容不能為空</p>
                    </div>
                </div>
                <!-- panel times -->
                <div class="form-group">
                    <label for="times" class="col-xs-2 control-label">次數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="times"
                        name="times"
                        v-model="times"
                        v-validate="{required:true,numeric:true
}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('times') }"
                        placeholder="輸入次數">
                        <p class="error-msg" v-show="errors.has('times')">{{ errors.first('times') }}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/commodities"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";

export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      access_token: "",
      input: {},
      title_name: "",
      price: "",
      context: "",
      times: ""
    };
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.addCommodities(this.access_token);
          }else{
            throw new Error();
          }
        })
        .catch(error => {
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    addCommodities(token) {
      let self = this;
      this.input = {
        title: this.title_name,
        price: this.price,
        context: this.context,
        times: this.times
      };
      return new Promise((resolve, reject) => {
        this.apiPostCommodities(
          self.input,
          (error, result) => {
            console.log(result);
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "出現以下錯誤",
                text: `${result.responseJSON.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              this.$swal({
                title: "新增成功",
                text: ``,
                type: "success",
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`
              }).then(
                () => router.push({ path: "/commodities" }),
                dismiss => {}
              );
            }
          },
          token
        );
      });
    }
  },
  mounted() {
    this.access_token = this.cookie_pull("access_token");
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
