<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/contracts">合約管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 編輯合約</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 編輯合約</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel username -->
                <div class="form-group">
                    <label for="username" class="col-xs-2 control-label">會員名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        id="username"
                        name="username"
                        disabled="disabled"
                        v-model="username">
                    </div>
                </div>
                <!-- panel price -->
                <div class="form-group">
                    <label for="price" class="col-xs-2 control-label">單次價格</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="price"
                        name="price"
                        v-model="price"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('price') }"
                        placeholder="輸入價格">
                        <p class="error-msg" v-show="errors.has('price')">{{errors.first('price')}}</p>
                    </div>
                </div>
                <!-- panel freetimes -->
                <div class="form-group">
                    <label for="freetimes" class="col-xs-2 control-label">免費次數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="freetimes"
                        name="freetimes"
                        v-model="freetimes"
                        v-validate="'required'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('freetimes') }"
                        placeholder="輸入內容">
                        <p class="error-msg" v-show="errors.has('freetimes')">免費次數不能為空</p>
                    </div>
                </div>
                <!-- panel start_date -->
                <div class="form-group">
                  <label for="start_date" class="col-xs-2 control-label">租約起始日</label>
                  <div class="col-xs-8">
                    <datepicker v-model="start_date"></datepicker>
                  </div>
                </div>
                 <!-- panel due_date -->
                <div class="form-group">
                  <label for="due_date" class="col-xs-2 control-label">租約到期日</label>
                  <div class="col-xs-8">
                    <datepicker v-model="due_date"></datepicker>
                  </div>
                </div>
                <!-- panel month_rent -->
                <div class="form-group">
                    <label for="month_rent" class="col-xs-2 control-label">月租金</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="month_rent"
                        name="month_rent"
                        v-model="month_rent"
                        v-validate="{required:true,numeric:true
}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('month_rent') }"
                        placeholder="輸入次數">
                        <p class="error-msg" v-show="errors.has('month_rent')">{{ errors.first('month_rent') }}</p>
                    </div>
                </div>
                <!-- panel deposit -->
                <div class="form-group">
                    <label for="deposit" class="col-xs-2 control-label">押金</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="deposit"
                        name="deposit"
                        v-model="deposit"
                        v-validate="{required:true,numeric:true
}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('deposit') }"
                        placeholder="輸入次數">
                        <p class="error-msg" v-show="errors.has('deposit')">{{ errors.first('deposit') }}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/contracts"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import datepicker from "../components/datepicker.vue";
import moment from "moment";
export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      access_token: "",
      contract: {},
      username: "",
      price: "",
      freetimes: "",
      start_date: "",
      due_date: "",
      month_rent: "",
      deposit: "",
    };
  },
  mixins: [apiMixins, cookieMixin],
  components: {
    datepicker: datepicker
  },
  methods: {
    // --------------------------------
    // 取得詳情、更新資料
    // --------------------------------
    getContract(username, token) {
      return new Promise((resolve, reject) => {
        this.apiGetContract(
          username,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.contract = result.contract;
            resolve(true);
          },
          token
        );
      });
    },
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.putContract(this.access_token);
          } else {
            throw new Error();
          }
        })
        .catch(error => {
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    refresh: async function() {
      this.access_token = this.cookie_pull("access_token");
      let result = await this.getContract(
        this.$route.params.username,
        this.access_token
      );
      if (result) {
        return setTimeout(() => {
          this.loaded = true;
          this.initHandler();
        }, 0);
      } else {
        return router.push({ path: "/contracts" });
      }
    },
    updatedContractFormater() {
      return {
        username: this.username,
        price: this.price,
        freetimes: this.freetimes,
        start_date: this.start_date,
        due_date: this.due_date,
        month_rent: this.month_rent,
        deposit: this.deposit,
      };
    },
    putContract: async function(token) {
      const updatedContract = this.updatedContractFormater();
      console.log(updatedContract);
      let isPass = false;
      try {
        isPass = await this.putContractBasic(
          this.$route.params.username,
          updatedContract,
          this.access_token
        );
        if (!isPass) {
          throw "更新資料錯誤";
        }
      } catch (error) {
        this.refresh();
      }
      if (isPass) {
        this.successHandler();
      }
    },
    putContractBasic(username, updatedContract, token) {
      return new Promise((resolve, reject) => {
        this.apiPutContract(
          username,
          updatedContract,
          (error, result) => {
            if (error) {
              this.isProcess = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            } else if (result.code === -1) {
              this.isProcess = false;
              this.$swal({
                title: "ERROR",
                text: `${result.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              resolve(true);
            }
          },
          token
        );
      });
    },
    initHandler() {
      this.username = this.contract.username;
      this.price = this.contract.price;
      this.start_date = moment(this.contract.rent_data.start_date).format("YYYY"+"-"+"MM"+"-"+"DD");
      this.due_date = moment(this.contract.rent_data.due_date).format("YYYY"+"-"+"MM"+"-"+"DD");
      this.freetimes = this.contract.freetimes;
      this.month_rent = this.contract.rent_data.month_rent;
      this.deposit = this.contract.rent_data.deposit;
    },
    successHandler() {
      this.$swal({
        title: "修改成功",
        text: ``,
        type: "success",
        confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`,
        showCancelButton: true,
        cancelButtonColor: "#d9534f",
        cancelButtonText: `<span class="glyphicon glyphicon-repeat"></span>繼續修改`
      }).then(
        () => router.push({ path: "/contracts" }),
        dismiss => this.refresh()
      );
    },
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    console.log(this.$route.params.username)
    let result = await this.getContract(
      this.$route.params.username,
      this.access_token
    );
    if (result) {
      return setTimeout(() => {
        this.loaded = true;
        this.initHandler();
      }, 0);
    } else {
      return router.push({ path: "/contracts" });
    }
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>

