<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/contracts">合約管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 新增合約</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 新增合約</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel title -->
                <div class="form-group">
                    <label for="title_name" class="col-xs-2 control-label">會員名稱</label>
                    <div class="col-xs-8">
                        <select class="form-control" v-model="selected" > 
                        <option disabled value="">請選擇</option>
                        <option v-for="user in users">{{user.username}}</option>
                      </select>
                    </div>
                </div>
                <!-- panel price -->
                <div class="form-group">
                    <label for="price" class="col-xs-2 control-label">單次價格</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="price"
                        name="price"
                        v-model="price"
                        v-validate="{required:true,numeric:true
}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('price') }"
                        placeholder="輸入價格">
                        <p class="error-msg" v-show="errors.has('price')">{{errors.first('price')}}</p>
                    </div>
                </div>
                <!-- panel freetimes -->
                <div class="form-group">
                    <label for="freetimes" class="col-xs-2 control-label">免費次數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="freetimes"
                        name="freetimes"
                        v-model="freetimes"
                        v-validate="'required'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('freetimes') }"
                        placeholder="輸入內容">
                        <p class="error-msg" v-show="errors.has('freetimes')">免費次數不能為空</p>
                    </div>
                </div>
                <!-- panel start_date -->
                <div class="form-group">
                  <label for="start_date" class="col-xs-2 control-label">租約起始日</label>
                  <div class="col-xs-8">
                    <datepicker v-model="start_date"></datepicker>
                  </div>
                </div>
                 <!-- panel due_date -->
                <div class="form-group">
                  <label for="due_date" class="col-xs-2 control-label">租約到期日</label>
                  <div class="col-xs-8">
                    <datepicker v-model="due_date"></datepicker>
                  </div>
                </div>
                <!-- panel month_rent -->
                <div class="form-group">
                    <label for="month_rent" class="col-xs-2 control-label">月租金</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="month_rent"
                        name="month_rent"
                        v-model="month_rent"
                        v-validate="{required:true,numeric:true
}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('month_rent') }"
                        placeholder="輸入次數">
                        <p class="error-msg" v-show="errors.has('month_rent')">{{ errors.first('month_rent') }}</p>
                    </div>
                </div>
                <!-- panel deposit -->
                <div class="form-group">
                    <label for="deposit" class="col-xs-2 control-label">押金</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="deposit"
                        name="deposit"
                        v-model="deposit"
                        v-validate="{required:true,numeric:true
}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('deposit') }"
                        placeholder="輸入次數">
                        <p class="error-msg" v-show="errors.has('deposit')">{{ errors.first('deposit') }}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/commodities"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import datepicker from "../components/datepicker.vue";
export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      access_token: "",
      input: {},
      users:[],
      selected: "",
      price: "",
      freetimes: "",
      start_date: "",
      due_date: "",
      month_rent: "",
      deposit: "",
    };
  },
  mixins: [apiMixins, cookieMixin],
  components: {
    datepicker: datepicker
  },
  methods: {
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.addContract(this.access_token);
          }else{
            throw new Error();
          }
        })
        .catch(error => {
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    addContract(token) {
      let self = this;
      this.input = {
        username: this.selected,
        price: this.price,
        freetimes: this.freetimes,
        start_date: this.start_date,
        due_date: this.due_date,
        month_rent: this.month_rent,
        deposit: this.deposit,
      };
      return new Promise((resolve, reject) => {
        this.apiPostContract(
          self.input,
          (error, result) => {
            console.log(result);
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "出現以下錯誤",
                text: `${result.responseJSON.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              this.$swal({
                title: "新增成功",
                text: ``,
                type: "success",
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`
              }).then(
                () => router.push({ path: "/contracts" }),
                dismiss => {}
              );
            }
          },
          token
        );
      });
    },
    getUser(token){
      return new Promise((resolve, reject) => {
        this.apiGetMembers(function(error,result){
           if (error) {
              this.loaded = false;
              this.$swal({
                title: "出現以下錯誤",
                text: `${result.responseJSON.message}`,
                type: "error"
              });
              resolve(false);
            }
          resolve(result.users)
        }, token);
      });
    }
  },
  async mounted() {
    this.access_token = this.cookie_pull("access_token");
    this.users = await this.getUser(this.access_token);
    console.log(this.users);
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
