<template lang="html">
  <div class="col-xs-10" v-cloak>
    <div class="row">
      <h1 class="page-header col-xs-8">合約管理</h1>
      <div class="page-header col-xs-2 addone" >
        <button type="button" class="btn btn-info btn-cos btn-sm" @click.self.prevent="refresh()"><span class="glyphicon glyphicon-link" aria-hidden="true"> </span> 重新整理</button>
        <button type="button" class="btn btn-info btn-cos btn-sm"><router-link to="/contractadd"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> </span> 建立合約</router-link></button>
      </div>
    </div>
      <!-- 表單組件 -->
      <contracts-table  
        :allRows="rows"
        :titles="titles"
        @routeToUpdate="toUpdate"
        @routeToDelete="toDelete">
      </contracts-table>
    <img class="img-thumbnail img-orders" src="../assets/img/loading.gif" v-show="!loaded" />
    
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import contracttable from "../componentsTable/contracttable.vue";
import * as myConst from "../assets/js/const";
import moment from "moment";
export default {
  data() {
    return {
      // C
      access_token: "",
      // V
      loaded: false,
      rows: [],
      // Table
      titles: [
        {
          name: "使用者名稱",
          key: "username"
        },
        {
          name: "次數/價格",
          key: "price"
        },
        {
          name: "月/免費",
          key: "freetimes"
        },
        {
          name: "開始日期",
          key: "start_date"
        },
        {
          name: "結束日期",
          key: "due_date"
        },
        {
          name: "月租金",
          key: "month_rent"
        },
        {
          name: "押金",
          key: "deposit"
        },
        {
          name: "更新",
          key: "update"
        },
        {
          name: "刪除",
          key: "delete"
        }
      ]
    };
  },
  components: {
    "contracts-table": contracttable
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    ...mapActions(["updateStatus"]),
    ...mapGetters(["jwtDecode"]),
    getContracts(token) {
      return new Promise((resolve, reject) => {
        this.apiGetContracts(
          (error, result) => {
            if (error) {
              if (result.responseJSON.success === false) {
                let textTitle = '';
                switch (result.responseJSON.message){
                  case 'Token Invalid':
                    textTitle = '請重新登入';
                    break;
                  default:
                    textTitle = '未知的錯誤';
                    break;
                }
                this.loaded = false;
                return this.$swal({
                  title: textTitle,
                  text: `${result.responseJSON.message}`,
                  type: "error"
                }).then(
                  () => {
                    if(result.responseJSON.message === 'Token Invalid'){
                      this.updateStatus(false);
                      return router.push({ path: "/login" });
                    }
                    this.updateStatus(true);
                  },
                  dismiss => {}
                );
                resolve(false);
              } else {
                this.loaded = false;
                this.$swal({
                  title: "連線中斷，請稍候重試",
                  text: `${error}`,
                  type: "error"
                }).then(
                  () => {
                    this.updateStatus(false);
                    router.push({ path: "/login" });
                  },
                  dismiss => {}
                );
                resolve(true);
              }
            } else {
              //使用者資料存進rows
              this.loaded = true;
              
              result.contracts.forEach(element => {
                element.rent_data.start_date = moment(element.rent_data.start_date).format("YYYY"+"-"+"MM"+"-"+"DD");
                element.rent_data.due_date = moment(element.rent_data.due_date).format("YYYY"+"-"+"MM"+"-"+"DD");
              });
              
              this.rows = result.contracts;
            }
          },
          token
        );
      });
    },
    // --------------------------------
    // C: 前往編輯
    // --------------------------------
    toUpdate(set) {
      router.push({ name: "ContractEdit", params: { username: set.username } });
    },
    // --------------------------------
    // C: 前往刪除
    // --------------------------------
    toDelete(set) {
      this.$swal({
        title: `確定刪除嗎?`,
        text: `注意！刪除後無法回覆`,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5bc0de",
        cancelButtonColor: "#d9534f",
        confirmButtonText: "確認刪除",
        cancelButtonText: "取消"
      }).then(
        () => {
          this.deleteContract(set.username, this.access_token);
        },
        dismiss => {}
      );
    },
    deleteContract(id, token) {
      this.apiDelContract(
        id,
        (error, result) => {
          if (error) {
            this.loaded = false;
            this.$swal({
              title: "連線中斷，請稍候重試",
              text: `${error}`,
              type: "error"
            }).then(
              () => {
                this.updateStatus(false);
                router.push({ path: "/login" });
              },
              dismiss => {}
            );
          } else {
            this.refresh();
          }
        },
        token
      );
    },
    // --------------------------------
    // C: 重新整理
    // --------------------------------
    refresh: async function() {
      this.rows = [];
      this.loaded = false;
      let result = await this.getContracts(
        this.access_token,
      );
      if (result) {
        return setTimeout(() => (this.loaded = true), 0);
      } else {
        this.noDataHandler();
      }
    },
    noDataHandler() {
      this.$swal({
        title: "查無資料",
        type: "warning"
      }).then(
        () => {
          this.loaded = true;
        },
        dismiss => {
          this.loaded = true;
        }
      );
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    let result = await this.getContracts(this.access_token);
    if (result) {
      return setTimeout(() => (this.loaded = true), 0);
    } else {
      this.noDataHandler();
    }
  }
};
</script>

<style>
.img-orders{
  position: absolute;
  left: 50px;
  top: 165px;
  z-index: 1;
}
</style>
