<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/curves">曲線管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 曲線</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 曲線</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel curve_id -->
                <div class="form-group">
                    <label for="curve_id" class="col-xs-2 control-label">曲線名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="curve_id"
                        v-model="curve_id"
                        name="curve_id">
                    </div>
                </div>
                <!-- panel multiple -->
                <div class="form-group">
                    <label for="multiple" class="col-xs-2 control-label">倍數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="multiple"
                        v-model="multiple"
                        name="multiple">
                    </div>
                </div>
                <!-- panel constant -->
                <div class="form-group">
                    <label for="constant" class="col-xs-2 control-label">常數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="constant"
                        v-model="constant"
                        name="constant">
                    </div>
                </div>
                <!-- panel steam_time_rate -->
                <div class="form-group">
                    <label for="steam_time_rate" class="col-xs-2 control-label">蒸焙時間比例</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="steam_time_rate"
                        v-model="steam_time_rate"
                        name="steam_time_rate">
                    </div>
                </div>
                <!-- panel warming_temp -->
                <div class="form-group">
                    <label for="warming_temp" class="col-xs-2 control-label">蒸焙時間比例</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="warming_temp"
                        v-model="warming_temp"
                        name="warming_temp">
                    </div>
                </div>
                <!-- panel roasting_temp -->
                <div class="form-group">
                    <label for="roasting_temp" class="col-xs-2 control-label">烘焙溫度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="roasting_temp"
                        v-model="roasting_temp"
                        name="roasting_temp">
                    </div>
                </div>
                <!-- panel warming_fan -->
                <div class="form-group">
                    <label for="warming_fan" class="col-xs-2 control-label">暖爐風扇轉速</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="warming_fan"
                        v-model="warming_fan"
                        name="warming_fan">
                    </div>
                </div>
                <!-- panel steaming_fan -->
                <div class="form-group">
                    <label for="steaming_fan" class="col-xs-2 control-label">蒸焙風扇轉速</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="steaming_fan"
                        v-model="steaming_fan"
                        name="steaming_fan">
                    </div>
                </div>
                <!-- panel roasting_fan -->
                <div class="form-group">
                    <label for="roasting_fan" class="col-xs-2 control-label">烘焙風扇轉速</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="roasting_fan"
                        v-model="roasting_fan"
                        name="roasting_fan">
                    </div>
                </div>
                <!-- panel warming_power -->
                <div class="form-group">
                    <label for="warming_power" class="col-xs-2 control-label">暖爐功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="warming_power"
                        v-model="warming_power"
                        name="warming_power">
                    </div>
                </div>
                <!-- panel steaming_power -->
                <div class="form-group">
                    <label for="steaming_power" class="col-xs-2 control-label">蒸被功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="steaming_power"
                        v-model="steaming_power"
                        name="steaming_power">
                    </div>
                </div>
                <!-- panel roasting_power -->
                <div class="form-group">
                    <label for="roasting_power" class="col-xs-2 control-label">烘焙功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="roasting_power"
                        v-model="roasting_power"
                        name="roasting_power">
                    </div>
                </div>
                <!-- panel img_url -->
                <div class="form-group">
                    <label for="img_url" class="col-xs-2 control-label">圖片</label>
                    <div class="col-xs-8">
                        <img class="img-thumbnail" :src="img_url" :alt="curve_id" height="350" width="350"/>
                    </div>
                </div>
                <!-- panel description -->
                <div class="form-group">
                    <label for="description" class="col-xs-2 control-label">描述</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" rows="5" disabled>
                        {{description}}
                        </textarea>
                    </div>
                </div>
                <!-- panel roast_scale -->
                <div class="form-group">
                    <label for="roast_scale" class="col-xs-2 control-label">烘焙度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="roast_scale"
                        v-model="roast_scale"
                        name="roast_scale">
                    </div>
                </div>
                <!-- panel owners -->
                <div class="form-group">
                    <label for="owners" class="col-xs-2 control-label">使用者</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="owners"
                        v-model="owners"
                        name="owners">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="panel panel-default">

        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
               
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/commodities"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div> -->
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";

export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      access_token: "",
      curve: {},
      curve_id: "",
      multiple: "",
      constant: "",
      steam_time_rate: "",
      warming_temp: "",
      roasting_temp: "",
      warming_fan: "",
      steaming_fan: "",
      roasting_fan: "",
      warming_power: "",
      steaming_power: "",
      roasting_power: "",
      img_url: "",
      description: "",
      roast_scale: "",
      owners: ""
    };
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    // --------------------------------
    // 取得詳情、更新資料
    // --------------------------------
    getCurve(id, token) {
      return new Promise((resolve, reject) => {
        this.apiGetCurve(
          id,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.curve = result.existingCurve;
            resolve(true);
          },
          token
        );
      });
    },
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.putCommodities(this.access_token);
          } else {
            throw new Error();
          }
        })
        .catch(error => {
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    refresh: async function() {
      this.access_token = this.cookie_pull("access_token");
      let result = await this.getCommodities(
        this.$route.params.title,
        this.access_token
      );
      if (result) {
        return setTimeout(() => {
          this.loaded = true;
          this.initHandler();
        }, 0);
      } else {
        return router.push({ path: "/commodities" });
      }
    },
    updatedCommoditiesFormater() {
      return {
        title: this.title_name,
        price: this.price,
        context: this.context,
        times: this.times
      };
    },
    putCommodities: async function(token) {
      const updatedCommodities = this.updatedCommoditiesFormater();

      let isPass = false;
      try {
        isPass = await this.putCommoditiesBasic(
          this.$route.params.title,
          updatedCommodities,
          this.access_token
        );
        if (!isPass) {
          throw "更新資料錯誤";
        }
      } catch (error) {
        this.refresh();
      }
      if (isPass) {
        this.successHandler();
      }
    },
    putCommoditiesBasic(title, updatedCommodities, token) {
      return new Promise((resolve, reject) => {
        this.apiPutCommodities(
          title,
          updatedCommodities,
          (error, result) => {
            if (error) {
              this.isProcess = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            } else if (result.code === -1) {
              this.isProcess = false;
              this.$swal({
                title: "ERROR",
                text: `${result.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              resolve(true);
            }
          },
          token
        );
      });
    },
    initHandler() {
      this.curve_id = this.curve.bean_id;
      this.multiple = this.curve.multiple;
      this.constant = this.curve.constant;
      this.steam_time_rate = this.curve.steam_time_rate;
      this.warming_temp = this.curve.warming_temp;
      this.roasting_temp = this.curve.roasting_temp;
      this.warming_fan = this.curve.warming_fan;
      this.steaming_fan = this.curve.steaming_fan;
      this.roasting_fan = this.curve.roasting_fan;
      this.warming_power = this.curve.warming_power;
      this.steaming_power = this.curve.steaming_power;
      this.roasting_power = this.curve.roasting_power;
      this.img_url = this.curve.img_url;
      this.description = this.curve.description;
      this.roast_scale = this.curve.roast_scale;
      this.owners = this.curve.owners;
    },
    successHandler() {
      this.$swal({
        title: "修改成功",
        text: ``,
        type: "success",
        confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`,
        showCancelButton: true,
        cancelButtonColor: "#d9534f",
        cancelButtonText: `<span class="glyphicon glyphicon-repeat"></span>繼續修改`
      }).then(
        () => router.push({ path: "/commodities" }),
        dismiss => this.refresh()
      );
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");

    let result = await this.getCurve(this.$route.params.id, this.access_token);
    if (result) {
      return setTimeout(() => {
        this.loaded = true;
        this.initHandler();
        console.log(this.curve)
      }, 0);
    } else {
      return router.push({ path: "/curves" });
    }
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>

