<template lang="html">
  <div class="col-xs-10" v-cloak>
    <div class="row">
      <h1 class="page-header col-xs-8">曲線管理</h1>
      <div class="page-header col-xs-2 addone" >
        <button type="button" class="btn btn-info btn-cos btn-sm" @click.self.prevent="refresh()"><span class="glyphicon glyphicon-link" aria-hidden="true"> </span> 重新整理</button>
        <button type="button" class="btn btn-info btn-cos btn-sm"><router-link to="/curveadd"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> </span> 建立曲線</router-link></button>
      </div>
    </div>
      <!-- 表單組件 -->
      <curves-table :rows="rows"
               :titles="titles"
               @routeToUpdate="toUpdate"
               @routeToDelete="toDelete"
               >
      </curves-table>
     
    <img class="img-thumbnail" src="../assets/img/loading.gif" v-show="!loaded" />
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import curvestable from "../componentsTable/curvestable.vue";
import * as myConst from "../assets/js/const";

export default {
  data() {
    return {
      // C
      access_token: "",
      // V
      loaded: false,
      // QueryString
      title_name: "",
      price: "",
      context: "",
      times: "",
      rows: [],
      // Table
      titles: [
        {
          name: "曲線名稱",
          key: "title"
        },
        // {
        //   name: "倍數",
        //   key: "multiple"
        // },
        // {
        //   name: "常數",
        //   key: "contant"
        // },
        // {
        //   name: "蒸焙時間比例",
        //   key: "steam_time"
        // },
        // {
        //   name: "暖爐溫度",
        //   key: "warming_temp"
        // },
        // {
        //   name: "蒸焙溫度",
        //   key: "steaming_temp"
        // },
        // {
        //   name: "烘焙溫度",
        //   key: "roasting_temp"
        // },
        // {
        //   name: "暖爐風扇轉速",
        //   key: "warming_fan"
        // },
        // {
        //   name: "蒸焙風扇轉速",
        //   key: "steaming_fan"
        // },
        // {
        //   name: "烘焙風扇轉速",
        //   key: "roasting_fan"
        // },
        // {
        //   name: "暖爐功率",
        //   key: "warming_power"
        // },
        // {
        //   name: "蒸被功率",
        //   key: "steaming_power"
        // },
        // {
        //   name: "烘焙功率",
        //   key: "roasting_power"
        // },
        // {
        //   name: "圖片",
        //   key: "img"
        // },
        {
          name: "烘焙度",
          key: "roast_scale"
        },
        {
          name: "描述",
          key: "description"
        },
        {
          name: "使用者",
          key: "owners"
        },
        {
          name: "更新",
          key: "update"
        },
        {
          name: "刪除",
          key: "delete"
        }
      ]
    };
  },
  components: {
    "curves-table": curvestable
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    ...mapActions(["updateStatus"]),

    getCurves(token) {
      return new Promise((resolve, reject) => {
        this.apiGetCurves((error, result) => {
          if (error) {
            if (result.responseJSON.success == false) {
              if(result.responseJSON.message === 'Token Invalid'){
                console.log('ab')
                this.loaded = false;
                return this.$swal({
                  title: "使用者已在其他裝置登入，請重新登入",
                  text: `${result.responseJSON.message}`,
                  type: "error"
                }).then(
                  () => {
                    this.updateStatus(false);
                    router.push({ path: "/login" });
                  },
                  dismiss => {}
                );
                resolve(false);
                
              }
              this.loaded = false;
              this.$swal({
                title: "該使用者無權限訪問該頁面",
                text: `${result.responseJSON.message}`,
                type: "error"
              }).then(
                () => {
                  this.updateStatus(true);
                  router.push({ path: "/home" });
                },
                dismiss => {}
              );
              resolve(false);
            } else {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              }).then(
                () => {
                  this.updateStatus(false);
                  router.push({ path: "/login" });
                },
                dismiss => {}
              );
              resolve(true);
            }
          } else {
            //使用者資料存進rows
            this.loaded = true;
            this.rows = result;
          }
        }, token);
      });
    },
    // --------------------------------
    // C: 前往編輯
    // --------------------------------
    toUpdate(set) {
      router.push({ name: "CurvesEdit", params: { id: set._id } });
    },
    // --------------------------------
    // C: 前往刪除
    // --------------------------------
    toDelete(set) {
      this.$swal({
        title: `確定刪除曲線嗎?`,
        text: `注意！刪除後無法回覆`,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5bc0de",
        cancelButtonColor: "#d9534f",
        confirmButtonText: "確認刪除",
        cancelButtonText: "取消"
      }).then(
        () => {
          this.deleteCurve(set._id, this.access_token);
        },
        dismiss => {}
      );
    },
    deleteCurve(id, token) {
      this.apiDelCurve(
        id,
        (error, result) => {
          if (error) {
            this.loaded = false;
            this.$swal({
              title: "連線中斷，請稍候重試",
              text: `${error}`,
              type: "error"
            }).then(
              () => {
                this.updateStatus(false);
                router.push({ path: "/login" });
              },
              dismiss => {}
            );
          } else {
            this.refresh();
          }
        },
        token
      );
    },
    // --------------------------------
    // C: 重新整理
    // --------------------------------
    refresh: async function() {
      this.title_name = "";
      this.price = "";
      this.context = "";
      this.times = "";
      this.rows = [];
      this.loaded = false;
      let result = await this.getCurves(this.access_token);
      if (result) {
        return setTimeout(() => (this.loaded = true), 0);
      } else {
        this.noDataHandler(this);
      }
    },
    noDataHandler() {
      this.$swal({
        title: "查無資料",
        type: "warning"
      }).then(
        () => {
          this.loaded = true;
        },
        dismiss => {
          this.loaded = true;
        }
      );
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");

    let result = await this.getCurves(this.access_token);
    if (result) {
      return setTimeout(() => (this.loaded = true), 0);
    } else {
      this.noDataHandler();
    }
  }
};
</script>