<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/curves">曲線管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 新增曲線</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 新增曲線</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel title -->
                <div class="form-group">
                    <label for="curvesTitle" class="col-xs-2 control-label">曲線名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="curvesTitle"
                        name="curvesTitle"
                        v-model="curvesTitle"
                        class="form-control form-feedback"
                        placeholder="輸入曲線名稱"
                        >
                        <!-- <p class="error-msg" v-show="errors.has('curvesTitle')">曲線名稱不能為空</p> -->
                    </div>
                </div>
                <!-- panel bean_id -->
                <div class="form-group">
                    <label for="price" class="col-xs-2 control-label">咖啡豆名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="bean_id"
                        name="bean_id"
                        v-model="bean_id"
                        v-validate="'required'" 
                        class="form-control form-feedback"
                        placeholder="輸入咖啡豆名稱">
                    </div>
                </div>
                <!-- panel multiple -->
                <div class="form-group">
                    <label for="multiple" class="col-xs-2 control-label">倍數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="multiple"
                        name="multiple"
                        v-model="multiple"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('multiple') }"
                        placeholder="輸入倍數">
                        <p class="error-msg" v-show="errors.has('multiple')">{{errors.first('multiple')}}</p>
                    </div>
                </div>
                <!-- panel constant -->
                <div class="form-group">
                    <label for="constant" class="col-xs-2 control-label">常數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="constant"
                        name="constant"
                        v-model="constant"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('constant') }"
                        placeholder="輸入常數">
                        <p class="error-msg" v-show="errors.has('constant')">{{errors.first('constant')}}</p>
                    </div>
                </div>
                <!-- panel steam_time_rate -->
                <div class="form-group">
                    <label for="steam_time_rate" class="col-xs-2 control-label">蒸焙時間比例</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="steam_time_rate"
                        name="steam_time_rate"
                        v-model="steam_time_rate"
                        v-validate="'required'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('steam_time_rate') }"
                        placeholder="輸入蒸焙時間比例">
                        <p class="error-msg" v-show="errors.has('steam_time_rate')">蒸焙時間比例不能為空</p>
                    </div>
                </div>
                <!-- panel warming_temp -->
                <div class="form-group">
                    <label for="warming_temp" class="col-xs-2 control-label">暖爐溫度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="warming_temp"
                        name="warming_temp"
                        v-model="warming_temp"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('warming_temp') }"
                        placeholder="輸入暖爐溫度">
                        <p class="error-msg" v-show="errors.has('warming_temp')">{{errors.first('warming_temp')}}</p>
                    </div>
                </div>
                <!-- panel steaming_temp -->
                <div class="form-group">
                    <label for="steaming_temp" class="col-xs-2 control-label">蒸焙溫度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="steaming_temp"
                        name="steaming_temp"
                        v-model="steaming_temp"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('steaming_temp') }"
                        placeholder="輸入蒸焙溫度">
                        <p class="error-msg" v-show="errors.has('steaming_temp')">{{errors.first('steaming_temp')}}</p>
                    </div>
                </div>
                <!-- panel roasting_temp -->
                <div class="form-group">
                    <label for="roasting_temp" class="col-xs-2 control-label">烘焙溫度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roasting_temp"
                        name="roasting_temp"
                        v-model="roasting_temp"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('roasting_temp') }"
                        placeholder="輸入烘焙溫度">
                        <p class="error-msg" v-show="errors.has('roasting_temp')">{{errors.first('roasting_temp')}}</p>
                    </div>
                </div>
                <!-- panel warming_fan -->
                <div class="form-group">
                    <label for="warming_fan" class="col-xs-2 control-label">暖爐風扇轉速</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="warming_fan"
                        name="warming_fan"
                        v-model="warming_fan"
                        v-validate="'required'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('warming_fan') }"
                        placeholder="輸入暖爐風扇轉速">
                        <p class="error-msg" v-show="errors.has('warming_fan')">暖爐風扇轉速不能為空</p>
                    </div>
                </div>
                <!-- panel roasting_fan -->
                <div class="form-group">
                    <label for="roasting_fan" class="col-xs-2 control-label">烘焙風扇轉速</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roasting_fan"
                        name="roasting_fan"
                        v-model="roasting_fan"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('roasting_fan') }"
                        placeholder="輸入烘焙風扇轉速">
                        <p class="error-msg" v-show="errors.has('roasting_fan')">{{errors.first('roasting_fan')}}</p>
                    </div>
                </div>
                <!-- panel warming_power -->
                <div class="form-group">
                    <label for="warming_power" class="col-xs-2 control-label">暖爐功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="warming_power"
                        name="warming_power"
                        v-model="warming_power"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('warming_power') }"
                        placeholder="輸入暖爐功率">
                        <p class="error-msg" v-show="errors.has('warming_power')">{{errors.first('warming_power')}}</p>
                    </div>
                </div>
                <!-- panel steaming_power -->
                <div class="form-group">
                    <label for="steaming_power" class="col-xs-2 control-label">蒸被功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="steaming_power"
                        name="steaming_power"
                        v-model="steaming_power"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('steaming_power') }"
                        placeholder="輸入蒸被功率">
                        <p class="error-msg" v-show="errors.has('steaming_power')">{{errors.first('steaming_power')}}</p>
                    </div>
                </div>
                <!-- panel roasting_power -->
                <div class="form-group">
                    <label for="roasting_power" class="col-xs-2 control-label">烘焙功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roasting_power"
                        name="roasting_power"
                        v-model="roasting_power"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('roasting_power') }"
                        placeholder="輸入烘焙功率">
                        <p class="error-msg" v-show="errors.has('roasting_power')">{{errors.first('roasting_power')}}</p>
                    </div>
                </div>
                 <!-- panel img -->
                <div class="form-group">
                    <label for="roasting_power" class="col-xs-2 control-label">圖片</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4">
                         <!-- 上傳圖片組件 -->
                        <!-- <vue-core-image-upload
                            class="btn btn-primary"
                            :crop="false"
                            @imageuploaded="imageuploaded"
                            :data="src"
                            :max-file-size="5242880"
                            url="https://api.imgur.com/3/image" >
                        </vue-core-image-upload> -->
                        </div>
                        <div class="col-xs-4">
                        <!-- <img class="img-thumbnail" :src="src" /> -->
                        </div>
                    </div>
                </div>
                <!-- panel description -->
                <div class="form-group">
                    <label for="description" class="col-xs-2 control-label">描述</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" rows="5" v-model="description">
                        </textarea>
                    </div>
                </div>
                <!-- panel roast_scale -->
                <div class="form-group">
                    <label for="roast_scale" class="col-xs-2 control-label">烘焙度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roast_scale"
                        name="roast_scale"
                        v-model="roast_scale"
                        v-validate="{numeric:true}" 
                        class="form-control form-feedback" 
                        placeholder="輸入烘焙度">
                         <p class="error-msg" v-show="errors.has('roast_scale')">{{errors.first('roast_scale')}}</p>
                    </div>
                </div>
                <!-- panel owners -->
                <div class="form-group">
                    <label for="owners" class="col-xs-2 control-label">使用者</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="owners"
                        name="owners"
                        v-model="owners"
                        class="form-control form-feedback" 
                        placeholder="輸入使用者">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/curves"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
// import VueCoreImageUpload from "vue-core-image-upload";
export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      access_token: "",
      curve: {},
      curvesTitle: "",
      bean_id: "",
      constant: "",
      steam_time_rate: "",
      multiple: "",
      warming_temp: "",
      steaming_temp: "",
      roasting_temp: "",
      warming_fan: "",
      roasting_fan: "",
      warming_power: "",
      steaming_power: "",
      roasting_power: "",
      description: "",
      roast_scale: "",
      owners: ""
    };
  },
  mixins: [apiMixins, cookieMixin],
  components: {
    // "vue-core-image-upload": VueCoreImageUpload
  },
  methods: {
    // imageuploaded(res) {
    //   if (res.errcode == 0) {
    //     console.log('res',res)
    //     this.src = res.data.src;
    //   }
    // console.log(res)
    // },
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.putCurve(this.access_token);
          } else {
            throw new Error();
          }
        })
        .catch(error => {
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
     // --------------------------------
    // C: 重新整理
    // --------------------------------
    refresh: async function() {
      this.curvesTitle= "",
      this.bean_id = "",
      this.constant = "",
      this.steam_time_rate = "",
      this.multiple = "",
      this.warming_temp = "",
      this.steaming_temp = "",
      this.roasting_temp = "",
      this.warming_fan = "",
      this.roasting_fan = "",
      this.warming_power = "",
      this.steaming_power = "",
      this.roasting_power = "",
      this.description = "",
      this.roast_scale = "",
      this.owners = ""
      this.loaded = false;
      let result = await this.getCurve(this.access_token,this.$route.params.id);
      if (result) {
        
        return setTimeout(() => {
          this.loaded = true;
          this.initHandler();
        }, 0);
      } else {
        this.noDataHandler(this);
      }
    },
    putCurve: async function(token) {
      const updatedCurve = this.updatedCurveFormater();

      let isPass = false;
      try {
        isPass = await this.putCurveBasic(
          this.$route.params.id,
          updatedCurve,
          this.access_token
        );
        if (!isPass) {
          throw "更新資料錯誤";
        }
      } catch (error) {
        this.refresh();
      }
      if (isPass) {
        this.successHandler();
      }
    },
    putCurveBasic(id, updatedCurve, token) {
      return new Promise((resolve, reject) => {
        this.apiPutCurve(
          id,
          updatedCurve,
          (error, result) => {
            if (error) {
              this.isProcess = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            } else if (result.success === false) {
              this.isProcess = false;
              this.$swal({
                title: "ERROR",
                text: `${result.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              resolve(true);
            }
          },
          token
        );
      });
    },
    successHandler() {
      this.$swal({
        title: "修改成功",
        text: ``,
        type: "success",
        confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`,
        showCancelButton: true,
        cancelButtonColor: "#d9534f",
        cancelButtonText: `<span class="glyphicon glyphicon-repeat"></span>繼續修改`
      }).then(
        () => router.push({ path: "/curves" }),
        dismiss => this.refresh()
      );
    },
    updatedCurveFormater() {
      return {
        bean_id: this.bean_id,
        constant: this.constant,
        steam_time_rate: this.steam_time_rate,
        multiple: this.multiple,
        warming_temp: this.warming_temp,
        steaming_temp: this.steaming_temp,
        roasting_temp: this.roasting_temp,
        warming_fan: this.warming_fan,
        roasting_fan: this.roasting_fan,
        warming_power: this.warming_power,
        steaming_power: this.steaming_power,
        roasting_power: this.roasting_power,
        description: this.description,
        roast_scale: this.roast_scale,
        owners: this.owners
      };
    },
    getCurve(token, id) {
      return new Promise((resolve, reject) => {
        this.apiGetCurve(
          id,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            
            this.curve = result.existingCurve;
            resolve(true);
          },
          token
        );
      });
    },    initHandler() {

      this.bean_id = this.curve.bean_id;
        this.constant = this.curve.constant;
        this.steam_time_rate = this.curve.steam_time_rate;
        this.multiple = this.curve.multiple;
        this.warming_temp = this.curve.warming_temp;
        this.steaming_temp = this.curve.steaming_temp;
        this.roasting_temp = this.curve.roasting_temp;
        this.warming_fan = this.curve.warming_fan;
        this.roasting_fan = this.curve.roasting_fan;
        this.warming_power = this.curve.warming_power;
        this.steaming_power = this.curve.steaming_power;
        this.roasting_power = this.curve.roasting_power;
        this.description = this.curve.description;
        this.roast_scale = this.curve.roast_scale;
        this.owners = this.curve.owners;
    },
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    let result = await this.getCurve(this.access_token, this.$route.params.id);
    if (result) {
      return setTimeout(() => {
        this.loaded = true;
        this.initHandler();
      }, 0);
    } else {
      return router.push({ path: "/curves" });
    }
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
