<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/curves">曲線管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 新增曲線</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 新增曲線</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel title -->
                <div class="form-group">
                    <label for="curvesTitle" class="col-xs-2 control-label">曲線名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="curvesTitle"
                        name="curvesTitle"
                        v-model="curvesTitle"
                        class="form-control form-feedback"
                        placeholder="輸入曲線名稱"
                        >
                        <!-- <p class="error-msg" v-show="errors.has('curvesTitle')">曲線名稱不能為空</p> -->
                    </div>
                </div>
                <!-- panel bean_id -->
                <div class="form-group">
                    <label for="price" class="col-xs-2 control-label">咖啡豆名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="bean_id"
                        name="bean_id"
                        v-model="bean_id"
                        class="form-control form-feedback"
                        placeholder="輸入咖啡豆名稱">
                    </div>
                </div>
                <!-- panel multiple -->
                <div class="form-group">
                    <label for="multiple" class="col-xs-2 control-label">倍數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="multiple"
                        name="multiple"
                        v-model="multiple"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('multiple') }"
                        placeholder="輸入倍數">
                        <p class="error-msg" v-show="errors.has('multiple')">{{errors.first('multiple')}}</p>
                    </div>
                </div>
                <!-- panel constant -->
                <div class="form-group">
                    <label for="constant" class="col-xs-2 control-label">常數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="constant"
                        name="constant"
                        v-model="constant"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('constant') }"
                        placeholder="輸入常數">
                        <p class="error-msg" v-show="errors.has('constant')">{{errors.first('constant')}}</p>
                    </div>
                </div>
                <!-- panel steam_time_rate -->
                <div class="form-group">
                    <label for="steam_time_rate" class="col-xs-2 control-label">蒸焙時間比例</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="steam_time_rate"
                        name="steam_time_rate"
                        v-model="steam_time_rate"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('steam_time_rate') }"
                        placeholder="輸入蒸焙時間比例">
                        <p class="error-msg" v-show="errors.has('steam_time_rate')">{{errors.first('steam_time_rate')}}</p>
                    </div>
                </div>
                <!-- panel warming_temp -->
                <div class="form-group">
                    <label for="warming_temp" class="col-xs-2 control-label">暖爐溫度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="warming_temp"
                        name="warming_temp"
                        v-model="warming_temp"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('warming_temp') }"
                        placeholder="輸入暖爐溫度">
                        <p class="error-msg" v-show="errors.has('warming_temp')">{{errors.first('warming_temp')}}</p>
                    </div>
                </div>
                <!-- panel steaming_temp -->
                <div class="form-group">
                    <label for="steaming_temp" class="col-xs-2 control-label">蒸焙溫度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="steaming_temp"
                        name="steaming_temp"
                        v-model="steaming_temp"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('steaming_temp') }"
                        placeholder="輸入蒸焙溫度">
                        <p class="error-msg" v-show="errors.has('steaming_temp')">{{errors.first('steaming_temp')}}</p>
                    </div>
                </div>
                <!-- panel roasting_temp -->
                <div class="form-group">
                    <label for="roasting_temp" class="col-xs-2 control-label">烘焙溫度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roasting_temp"
                        name="roasting_temp"
                        v-model="roasting_temp"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('roasting_temp') }"
                        placeholder="輸入烘焙溫度">
                        <p class="error-msg" v-show="errors.has('roasting_temp')">{{errors.first('roasting_temp')}}</p>
                    </div>
                </div>
                <!-- panel warming_fan -->
                <div class="form-group">
                    <label for="warming_fan" class="col-xs-2 control-label">暖爐風扇轉速</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="warming_fan"
                        name="warming_fan"
                        v-model="warming_fan"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('warming_fan') }"
                        placeholder="輸入暖爐風扇轉速">
                        <p class="error-msg" v-show="errors.has('warming_fan')">{{errors.first('warming_fan')}}</p>
                    </div>
                </div>
                <!-- panel roasting_fan -->
                <div class="form-group">
                    <label for="roasting_fan" class="col-xs-2 control-label">烘焙風扇轉速</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roasting_fan"
                        name="roasting_fan"
                        v-model="roasting_fan"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('roasting_fan') }"
                        placeholder="輸入烘焙風扇轉速">
                        <p class="error-msg" v-show="errors.has('roasting_fan')">{{errors.first('roasting_fan')}}</p>
                    </div>
                </div>
                <!-- panel warming_power -->
                <div class="form-group">
                    <label for="warming_power" class="col-xs-2 control-label">暖爐功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="warming_power"
                        name="warming_power"
                        v-model="warming_power"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('warming_power') }"
                        placeholder="輸入暖爐功率">
                        <p class="error-msg" v-show="errors.has('warming_power')">{{errors.first('warming_power')}}</p>
                    </div>
                </div>
                <!-- panel steaming_power -->
                <div class="form-group">
                    <label for="steaming_power" class="col-xs-2 control-label">蒸被功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="steaming_power"
                        name="steaming_power"
                        v-model="steaming_power"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('steaming_power') }"
                        placeholder="輸入蒸被功率">
                        <p class="error-msg" v-show="errors.has('steaming_power')">{{errors.first('steaming_power')}}</p>
                    </div>
                </div>
                <!-- panel roasting_power -->
                <div class="form-group">
                    <label for="roasting_power" class="col-xs-2 control-label">烘焙功率</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roasting_power"
                        name="roasting_power"
                        v-model="roasting_power"
                        v-validate="{required:true,numeric:true}" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('roasting_power') }"
                        placeholder="輸入烘焙功率">
                        <p class="error-msg" v-show="errors.has('roasting_power')">{{errors.first('roasting_power')}}</p>
                    </div>
                </div>
                 <!-- panel img -->
                <div class="form-group">
                    <label for="roasting_power" class="col-xs-2 control-label">圖片</label>
                    <div class="col-xs-8">
                        <div class="col-xs-4">
                         <!-- 上傳圖片組件 -->
                        <!-- <vue-core-image-upload
                            class="btn btn-primary"
                            :crop="false"
                            @imageuploaded="imageuploaded"
                            :data="src"
                            :max-file-size="5242880"
                            url="https://api.imgur.com/3/image" >
                        </vue-core-image-upload> -->
                        </div>
                        <div class="col-xs-4">
                        <!-- <img class="img-thumbnail" :src="src" /> -->
                        </div>
                    </div>
                </div>
                <!-- panel description -->
                <div class="form-group">
                    <label for="description" class="col-xs-2 control-label">描述</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" rows="5" v-model="description">
                        </textarea>
                    </div>
                </div>
                <!-- panel roast_scale -->
                <div class="form-group">
                    <label for="roast_scale" class="col-xs-2 control-label">烘焙度</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="roast_scale"
                        name="roast_scale"
                        v-model="roast_scale"
                        v-validate="{numeric:true}" 
                        class="form-control form-feedback" 
                        placeholder="輸入烘焙度">
                        <p class="error-msg" v-show="errors.has('roast_scale')">{{errors.first('roast_scale')}}</p>
                    </div>
                </div>
                <!-- panel owners -->
                <div class="form-group">
                    <label for="owners" class="col-xs-2 control-label">使用者</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="owners"
                        name="owners"
                        v-model="owners"
                        class="form-control form-feedback" 
                        placeholder="輸入使用者">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/curves"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import VueCoreImageUpload  from 'vue-core-image-upload';
export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      access_token: "",
      //src: 'http://img1.vued.vanthink.cn/vued0a233185b6027244f9d43e653227439a.png',
      curvesTitle:"",
      bean_id: "",
      constant:"",
      steam_time_rate: "",
      multiple: "",
      warming_temp: "",
      steaming_temp: "",
      roasting_temp: "",
      warming_fan: "",
      roasting_fan: "",
      warming_power: "",
      steaming_power: "",
      roasting_power: "",
      description: "",
      roast_scale: "",
      owners: ""
    };
  },
  mixins: [apiMixins, cookieMixin],
  components:{
      'vue-core-image-upload': VueCoreImageUpload
  },
  methods: {
    // imageuploaded(res) {
    //   if (res.errcode == 0) {
    //     console.log('res',res)
    //     this.src = res.data.src;
    //   }
    // console.log(res)
    // },
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.addCurve(this.access_token);
          }else{
            throw new Error();
          }
        })
        .catch(error => {
            console.log(error)
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    inputHandle(){
        return {
            bean_id: this.bean_id,
            constant: this.constant,
            steam_time_rate: this.steam_time_rate,
            multiple: this.multiple,
            warming_temp: this.warming_temp,
            steaming_temp: this.steaming_temp,
            roasting_temp: this.roasting_temp,
            warming_fan: this.warming_fan,
            roasting_fan: this.roasting_fan,
            warming_power: this.warming_power,
            steaming_power: this.steaming_power,
            roasting_power: this.roasting_power,
            description: this.description,
            roast_scale: this.roast_scale,
            owners: this.owners
        }
    },
    addCurve(token) {
      let input = this.inputHandle();
      return new Promise((resolve, reject) => {
        this.apiPostCurve(
           input,
          (error, result) => {
            console.log('result',result);
            console.log('error',error);
            if (error === true) {
              this.loaded = false;
              this.$swal({
                title: "出現以下錯誤",
                text: `${result.responseJSON.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              this.$swal({
                title: "新增成功",
                text: ``,
                type: "success",
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`
              }).then(
                () => router.push({ path: "/curves" }),
                dismiss => {}
              );
            }
          },
          token
        );
      });
    }
  },
  mounted() {
    this.access_token = this.cookie_pull("access_token");
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
