<template lang="html">
  <div class="col-xs-10"><h1>木時咖啡後台首頁唷!</h1></div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return { 
      msg: 'Welcome to Your Vue.js App' 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.table {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .table {width: 60vw}
}
</style>
