<template>
 <div class="cos-login" v-cloak>
    <div class="panel panel-default cos-panel">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-lock"></span> Login</h2>
        </div>
        <!-- panel 內容 -->
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <label for="login-acc">登入帳號：<span class="error-msg" v-show="errors.has('login_id')" >{{ errors.first('login_id')}}</span></label>
                    <div class="form-group" v-bind:class="{ 'has-error': errors.has('login_id') }">
                        <input type="text"
                          name="login_id"
                          v-model="login_id"
                          v-validate="'required'"
                          class="form-control form-feedback"
                          placeholder="Login ID">
                    </div>
                    <label for="login-pw">登入密碼：<span class="error-msg" v-show="errors.has('login_password')" >{{ errors.first('login_password')}}</span></label>
                    <div class="form-group" v-bind:class="{ 'has-error': errors.has('login_password') }">
                        <input type="password"
                          name="login_password"
                          v-model="login_password"
                          v-validate="'required'"
                          class="form-control form-feedback"
                          placeholder="Login Password">
                    </div>
                    <!-- <div class="g-recaptcha" data-sitekey="6LeZ_DwUAAAAAJvOjbn-Ge7lbLcIL5h6cbawhVER"></div> -->
                    <button class="btn btn-cos btn-block" @click.prevent.stop="validateForm()" v-html="submit_btn" :disabled="isProcess"></button>
                </fieldset>
                
            </form>
        </div>
    </div>
  </div> 

</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { cookieMixin } from "../mixins/cookie-mixins";
export default {
  data() {
    return {
      // V
      submit_btn: "Login",
      // C
      isProcess: false,
      // M
      login_id: "",
      login_password: ""
    };
  },
  mixins: [cookieMixin],
  methods: {
    ...mapActions(["apilogin", "updateStatus"]),
    // --------------------------------
    // C:
    // --------------------------------
    validateForm() {
      this.isProcess = true;
      this.submit_btn = `<span class="glyphicon glyphicon-cog normal-right-spinner"></span>登入中`;
      let obj = {
        login_id: this.login_id,
        login_password: this.login_password
      };
      this.$validator
        .validateAll(obj)
        .then(isSuccess => {
          if (isSuccess) {
            this.initlogin();
          } else {
            throw new error();
          }
        })
        .catch(error => {
          this.isProcess = false;
          this.submit_btn = `<span class="glyphicon glyphicon-refresh"></span>重試`;
          this.$swal({
            title: "請檢查欄位是否正確",
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    initlogin() {
      this.isProcess = true;
      this.submit_btn = `<span class="glyphicon glyphicon-cog normal-right-spinner"></span>登入中`;
      let authentication = {
        form: {
          username: this.login_id,
          password: this.login_password
        },
        callback: this.loginHandler
      };
      this.apilogin(authentication);
    },
    // --------------------------------
    // M:
    // --------------------------------
    loginHandler(error, result) {
      if (error) {
        this.isProcess = false;
        this.submit_btn = `<span class="glyphicon glyphicon-refresh"></span>重試`;
        this.$swal({
          title: "登入失敗",
          text: `${result.responseJSON.message}`,
          type: "error"
        });
      } else {
        this.$swal({
          title: "登入成功",
          text: `將為您轉至首頁`,
          type: "success",
          timer: 1000
        }).then(
          () => {
            this.cookie_push("access_token", result.token, 3);
            this.updateStatus(result.token);
            router.push({ path: "home" });
          },
          // handling the promise rejection
          dismiss => {
            if (dismiss === "timer") {
              this.cookie_push("access_token", result.token, 3);
              this.updateStatus(result.token);
              router.push({ path: "home" });
            }
          }
        );
      }
    },
    mounted() {
      if (this.loginState) {
        router.push({ path: router.beforePath || "home" });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.cos-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
</style>
