<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/members">會員管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 編輯會員</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 編輯會員</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- 帳號 -->
                <div class="form-group">
                    <label for="account" class="col-xs-2 control-label">帳號</label>
                    <div class="col-xs-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      v-model="username"
                      >
                    </div>
                </div>
                <!-- panel email -->
                <div class="form-group">
                    <label for="email" class="col-xs-2 control-label">email</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="email"
                        name="email"
                        v-model="email"
                        v-validate="'required|email'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('email') }"
                        placeholder="輸入email">
                        <p class="error-msg" v-show="errors.has('email')">請填寫 email 正確格式</p>
                    </div>
                </div>
                <!-- panel realname -->
                <div class="form-group">
                    <label for="realname" class="col-xs-2 control-label">姓名</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="realname"
                        name="realname"
                        v-model="realname"
                        
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('realname') }"
                        placeholder="輸入姓名">
                        <p class="error-msg" v-show="errors.has('realname')">姓名不能為空</p>
                    </div>
                </div>
                <!-- panel property -->
                <div class="form-group">
                    <label for="property" class="col-xs-2 control-label">權限設定</label>
                    <div class="col-xs-8">
                        <select class="form-control" v-model="selected" > 
                        <option disabled value="">請選擇</option>
                        <option value="0">會員</option>
                        <option value="1">工程師</option>
                        <option value="2">管理員</option>
                      </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/members"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>


<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";

export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      // M
      username: "",
      email: "",
      property: "",
      realname: "",
      selected: "",
      member: {},
      access_token: "",
      isUploaded: false
    };
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    // --------------------------------
    // 取得詳情、更新資料
    // --------------------------------
    getMember(username, token) {
      return new Promise((resolve, reject) => {
        this.apiGetMember(
          username,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.member = result.userData;
            this.selected = this.member.property;
            resolve(true);
          },
          token
        );
      });
    },
    refresh: async function() {
      this.access_token = this.cookie_pull("access_token");
      let result = await this.getMember(
        this.$route.params.username,
        this.access_token
      );
      if (result) {
        return setTimeout(() => {
          this.loaded = true;
          this.initHandler();
        }, 0);
      } else {
        return router.push({ path: "/members" });
      }
    },
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.putMember(this.access_token);
          }
        })
        .catch(error => {
          let e = new Set();
          this.$swal({
            title: "請檢查所有欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    initHandler() {
      console.log(this.username);
      this.username = this.member.username;
      this.realname = this.member.name;
      this.email = this.member.email;
      this.property = this.member.property;
    },
    successHandler() {
      this.$swal({
        title: "修改成功",
        text: ``,
        type: "success",
        confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`,
        showCancelButton: true,
        cancelButtonColor: "#d9534f",
        cancelButtonText: `<span class="glyphicon glyphicon-repeat"></span>繼續修改`
      }).then(
        () => router.push({ path: "/members" }),
        dismiss => this.refresh()
      );
    },
    putMember: async function(token) {
      const updatedMember = this.updatedMemberFormater();
      console.log(updatedMember);
      let isPass = false;
      try {
        isPass = await this.putMemberBasic(
          this.$route.params.username,
          updatedMember,
          this.access_token
        );
        if (!isPass) {
          throw "更新基本資料錯誤";
        }
      } catch (error) {
        this.refresh();
      }
      if (isPass) {
        this.successHandler();
      }
    },
    updatedMemberFormater() {
      return {
        email: this.email,
        property: this.selected,
        name: this.realname,
      };
    },
    putMemberBasic(username, updatedMember, token) {
      return new Promise((resolve, reject) => {
        this.apiPutMember(
          username,
          updatedMember,
          (error, result) => {
            if (error) {
              this.isProcess = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            } else if (result.code === -1) {
              this.isProcess = false;
              this.$swal({
                title: "ERROR",
                text: `${result.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              resolve(true);
            }
          },
          token
        );
      });
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");

    let result = await this.getMember(
      this.$route.params.username,
      this.access_token
    );
    if (result) {
      return setTimeout(() => {
        this.loaded = true;
        this.initHandler();
      }, 0);
    } else {
      return router.push({ path: "/members" });
    }
  }
};
</script>

<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
