<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/members">會員管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i><router-link to="/membercategory">會員類別</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 編輯會員</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 曲線調整</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
          <div class="inside">
               
          </div>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/members"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>


<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import * as d3 from 'd3';

export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      // M
      username: "",
      email: "",
      property: "",
      realname: "",
      selected: "",
      member: {},
      access_token: "",
      isUploaded: false,
      circleSize: 50,
      record:{},
      width:1000,
      height:400,
      potTemps: '',
      padding:{top:70, right:70, bottom: 70, left:70},
      dataset:[
        {
          country:"china",
          gdp:[[2000,11920],[2001,13170],[2002,14550],
            [2003,16500],[2004,19440],[2005,22870],
            [2006,27930],[2007,35040],[2008,45470],
            [2009,51050],[2010,59490],[2011,73140],
            [2012,83860],[2013,103550],]
        },
        {
          country:"japan",
          gdp:[[2000,47310],[2001,41590],[2002,39800],
            [2003,43020],[2004,46550],[2005,45710],
            [2006,43560],[2007,43560],[2008,48490],
            [2009,50350],[2010,54950],[2011,59050],
            [2012,59370],[2013,48980],]
        }
      ],
      gdpmax: 0,
    };
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    // --------------------------------
    // 取得詳情、更新資料
    // --------------------------------
    getMember(username, token) {
      return new Promise((resolve, reject) => {
        this.apiGetMember(
          username,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.member = result.userData;
            this.selected = this.member.property;
            resolve(true);
          },
          token
        );
      });
    },
    getRecord(token,id){
      return new Promise((resolve, reject) => {
        this.apiGetRecord(
          id,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.record = result.record;
            resolve(true);
          },
          token
        );
      });
    },
    refresh: async function() {
      this.access_token = this.cookie_pull("access_token");
      let result = await this.getMember(
        this.$route.params.username,
        this.access_token
      );
      if (result) {
        return setTimeout(() => {
          this.loaded = true;
          this.initHandler();
        }, 0);
      } else {
        return router.push({ path: "/members" });
      }
    },
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.putMember(this.access_token);
          }
        })
        .catch(error => {
          let e = new Set();
          this.$swal({
            title: "請檢查所有欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    initHandler() {
      console.log(this.username);
      this.username = this.member.username;
      this.realname = this.member.name;
      this.email = this.member.email;
      this.property = this.member.property;
    },
    successHandler() {
      this.$swal({
        title: "修改成功",
        text: ``,
        type: "success",
        confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`,
        showCancelButton: true,
        cancelButtonColor: "#d9534f",
        cancelButtonText: `<span class="glyphicon glyphicon-repeat"></span>繼續修改`
      }).then(
        () => router.push({ path: "/members" }),
        dismiss => this.refresh()
      );
    },
    putMemberBasic(username, updatedMember, token) {
      return new Promise((resolve, reject) => {
        this.apiPutMember(
          username,
          updatedMember,
          (error, result) => {
            if (error) {
              this.isProcess = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            } else if (result.code === -1) {
              this.isProcess = false;
              this.$swal({
                title: "ERROR",
                text: `${result.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              resolve(true);
            }
          },
          token
        );
      });
    },
    showImg(){

      var datat = []
      var abc = []
      var aa = []
      var bb = {}
      var cc = {}
      //,this.record.roastData.potTemps[i]
      const maxTime = this.record.roastData.steamTime
      
      const powers = this.record.roastData.powers
      const maxPotTemps = d3.max(this.record.roastData.potTemps);
      const potTemps = this.record.roastData.potTemps
      
      const maxTemp = 350;
      for(var i=0;i<powers.length;i++){
        abc.push([i,potTemps[i]])
        aa.push([i,powers[i]])
      }
      bb.abc = abc;
      cc.abc = aa
      datat.push(bb)
      datat.push(cc)
      console.log(datat)
      var xScale=d3.scaleLinear()
          .domain([0,maxTemp])
          .range([0,this.width-this.padding.right]);
    
      var yScale=d3.scaleLinear()
          .domain([0,maxTime])
          .range([this.height-this.padding.bottom-this.padding.top,0]);
      
      var yScale1=d3.scaleLinear()
          .domain([0,d3.max(powers)])
          .range([this.height-this.padding.bottom-this.padding.top,0]);

      var linePath=d3.line()
          .x(function(d){
            return xScale(d[0]);
          })
          .y(function(d){
            return yScale(d[1]);
          })
          //插值模式
          .curve(d3.curveBasis);
      //定义两个颜色
      var colors=[d3.rgb(0,0,255),d3.rgb(255,0,0)];
      
      var svg=d3.select(".inside")
            .append("svg")
            
            .attr("width",this.width+30)
            .attr("height",this.height);

      svg.selectAll("path")
      .data(datat)
      .enter()
      .append("path")
      .attr("transform","translate("+this.padding.left+","+this.padding.top+")")
      .attr("d",function(d){ return linePath(d.abc)})
      .attr("fill","none")
      .attr("stroke-width",1)
      .attr("stroke",function(d,i){
		    return colors[i];
	    });
      var xAxis=d3 
      .axisBottom(xScale)
			.ticks(40)
			.tickFormat(function(d){ return d})
			
      var dataset1 = [];
      for(var i=0;i<datat.length;i++){
        for(var j=0;j<datat[i].abc.length;j++){
          dataset1.push(datat[i].abc[j]);
        }
      }
      
      // svg.selectAll('circle')
      //   .data(dataset1)
      //   .enter()
      //   .append('g')
      //   .append('circle')
      //   .attr('class', 'linecircle')
      //   .attr("transform","translate("+this.padding.left+","+this.padding.top+")")
      //   .attr('cx',function(d,i){return xScale(d[0])})
      //   .attr('cy',function(d){return yScale(d[1])})
      //   .attr('r', 1)
        
        // .on('mouseover', function() {
        //   d3.select(this).transition().duration(500).attr('r', 5);
        // })
        // .on('mouseout', function() {
        //   d3.select(this).transition().duration(500).attr('r', 3.5);
        // });
      var yAxis=d3
      .axisLeft(yScale)
      .ticks(20)
      .tickFormat(function(d){ return d})
      //"℃"
      var yAxis1=d3
      .axisRight(yScale1)
      .ticks(20)
      .tickFormat(function(d){ return d})

  //添加一个g用于放x轴
    svg.append("g")
      .attr("class","x axis")
      .attr("transform","translate("+(this.padding.left)+","+(this.height-this.padding.top)+")")
      .call(xAxis);
    svg.append("g")
      .attr("class","y axis")
      .attr("transform","translate("+this.padding.left+","+this.padding.top+")")
      .call(yAxis);
    svg.append("g")
      .attr("class","y1 axis")
      .attr("transform","translate("+(this.width)+","+this.padding.top+")")
      .call(yAxis1);
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    await this.getRecord(this.access_token,this.$route.params.id);
    
    await this.showImg()

//     var gdpmax=0;
// for(var i=0;i<this.dataset.length;i++){
// 	var currGdp=d3.max(this.dataset[i].gdp,function(d){
// 		return d[1];
// 	});
// 	if(currGdp>gdpmax)
// 		gdpmax=currGdp;
// }
// console.log(gdpmax);

// var xScale=d3.scaleLinear()
// 			.domain([2000,2013])
// 			.range([0,this.width-this.padding.left-this.padding.right]);

// var yScale=d3.scaleLinear()
// 			.domain([0,gdpmax*1.1])
// 			.range([this.height-this.padding.bottom-this.padding.top,0]);

// var linePath=d3.line()//创建一个直线生成器
// 				.x(function(d){
// 					return xScale(d[0]);
// 				})
// 				.y(function(d){
// 					return yScale(d[1]);
// 				})
// 				.curve(d3.curveBasis);
				

// //定义两个颜色
// var colors=[d3.rgb(0,0,255),d3.rgb(0,255,0)];

// var svg=d3.select(".inside")
// 				.append("svg")
// 				.attr("width",this.width)
// 				.attr("height",this.height);

// svg.selectAll("path")
// 	.data(this.dataset)
// 	.enter()
// 	.append("path")
// 	.attr("transform","translate("+this.padding.left+","+this.padding.top+")")
// 	.attr("d",function(d){
//     console.log(d)
// 		return linePath(d.gdp);
// 		//返回线段生成器得到的路径
// 	})
// 	.attr("fill","none")
// 	.attr("stroke-width",3)
// 	.attr("stroke",function(d,i){
// 		return colors[i];
// 	});

// var xAxis=d3
// 			.axisBottom(xScale)
// 			.ticks(5)
// 			.tickFormat(d3.format("d"))


// var yAxis=d3
// 			.axisLeft(yScale)
// //添加一个g用于放x轴
// svg.append("g")
// 	.attr("class","axis")
// 	.attr("transform","translate("+this.padding.left+","+(this.height-this.padding.top)+")")
// 	.call(xAxis);

// svg.append("g")
// 	.attr("class","axis")
// 	.attr("transform","translate("+this.padding.left+","+this.padding.top+")")
// 	.call(yAxis);

    
  }
};
</script>

<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}


.axis path,
	.axis line{
		fill:none;
		stroke:black;
		shape-rendering:crispEdges;
	}
</style>
