<template lang="html">
  <div class="col-xs-10" v-cloak>
    <div class="row">
      <h1 class="page-header col-xs-8">會員管理</h1>
      <div class="page-header col-xs-2 addone" >
        <button type="button" class="btn btn-info btn-cos btn-sm" @click.self.prevent="refresh()"><span class="glyphicon glyphicon-link" aria-hidden="true"> </span> 重新整理</button>
        <button type="button" class="btn btn-info btn-cos btn-sm"><router-link to="/memberadd"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> </span> 建立新會員</router-link></button>
      </div>
      
    </div>
      <!-- 表單組件 -->
      <m-table :allRows="rows"
               :titles="titles"
               @routeToUpdate="toUpdate"
               @routeToDelete="toDelete"
               >
      </m-table>
    <img class="img-thumbnail" src="../assets/img/loading.gif" v-show="!loaded" />
  </div>
</template>


<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import * as myConst from "../assets/js/const";
import membertable from "../componentsTable/membertable.vue";

export default {
  data() {
    return {
      // C
      access_token: "",
      // V
      loaded: false,
      // QueryString
      username: "",
      email: "",
      property: "",
      page: 1,
      rows: [],
      // Table
      titles: [
        {
          name: "帳號",
          key: "username"
        },
        {
          name: "信箱",
          key: "email"
        },
        {
          name: "權限",
          key: "property"
        },
        {
          name: "更新",
          key: "update"
        },
        {
          name: "刪除",
          key: "delete"
        }
      ]
    };
  },
  components: {
    "m-table": membertable
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    ...mapActions(["updateStatus"]),
    //透過api取得使用者資料
    getMembers(token) {
      return new Promise((resolve, reject) => {
        this.apiGetMembers((error, result) => {
          if (error) {
            if (result.responseJSON.success == false) {
              if(result.responseJSON.message === 'Token Invalid'){
                console.log('ab')
                this.loaded = false;
                return this.$swal({
                  title: "使用者已在其他裝置登入，請重新登入",
                  text: `${result.responseJSON.message}`,
                  type: "error"
                }).then(
                  () => {
                    this.updateStatus(false);
                    router.push({ path: "/login" });
                  },
                  dismiss => {}
                );
                resolve(false);
                
              }
              this.loaded = false;
              this.$swal({
                title: "該使用者無權限訪問該頁面",
                text: `${result.responseJSON.message}`,
                type: "error"
              }).then(
                () => {
                  this.updateStatus(true);
                  router.push({ path: "/home" });
                },
                dismiss => {}
              );
              resolve(false);
            } else {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              }).then(
                () => {
                  this.updateStatus(false);
                  router.push({ path: "/login" });
                },
                dismiss => {}
              );
              resolve(true);
            }
          }

          //使用者資料存進rows
          this.loaded = true;
          if(result.users){
            result.users.forEach(element => {
              switch(element.property){
                case 2:
                  return element.property = "管理者";
                case 1:
                  return element.property = "工程師";
                default:
                  return element.property = "會員";
              }
            });
            this.rows = result.users;
          }
        }, token);
      });
    },
    // --------------------------------
    // C: 前往編輯
    // --------------------------------
    toUpdate(set) {
      router.push({ name: "membereditor", params: { username: set.username } });
    },
    // --------------------------------
    // C: 前往刪除
    // --------------------------------
    toDelete(set) {
      console.log(set);
      this.$swal({
        title: `確定刪除使用者${set.username}`,
        text: `注意！刪除後無法回覆`,
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#5bc0de",
        cancelButtonColor: "#d9534f",
        confirmButtonText: "確認刪除",
        cancelButtonText: "取消"
      }).then(
        () => {
          this.deleteUser(set.username, this.access_token);
        },
        dismiss => {}
      );
    },
    // --------------------------------
    // M: 刪除member
    // --------------------------------
    deleteUser(username, token) {
      this.apiDelUser(
        username,
        (error, result) => {
          if (error) {
            this.loaded = false;
            this.$swal({
              title: "連線中斷，請稍候重試",
              text: `${error}`,
              type: "error"
            }).then(
              () => {
                this.updateStatus(false);
                router.push({ path: "/login" });
              },
              dismiss => {}
            );
          } else {
            this.refresh();
          }
        },
        token
      );
    },
    // --------------------------------
    // C: 重新整理
    // --------------------------------
    refresh: async function() {
      this.username = "";
      this.email = "";
      this.propert = "";
      this.rows = [];
      this.loaded = false;
      let result = await this.getMembers(this.access_token);
      if (result) {
        return setTimeout(() => (this.loaded = true), 0);
      } else {
        console.log(this.state.loginState)
        this.noDataHandler(this);
      }
    },
    noDataHandler() {
      this.$swal({
        title: "查無資料",
        type: "warning"
      }).then(
        () => {
          this.loaded = true;
        },
        dismiss => {
          this.loaded = true;
        }
      );
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    
    let result = await this.getMembers(this.access_token);
    
    if (result) {
      return setTimeout(() => (this.loaded = true), 0);
    } else {
      this.noDataHandler();
    }
  }
};
</script>