<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/members">會員管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> <router-link :to="{ name: 'MemberCategory', params: { username: $route.params.username }}">會員類別</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 會員個人資料</h1>
    <div class="panel panel-default">
      
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 會員個人資料</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel username -->
                <div class="form-group">
                    <label for="username" class="col-xs-2 control-label">帳號</label>
                      <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="username"
                        v-model="username"
                        name="username">
                      </div>
                </div>
                <!-- panel name -->
                <div class="form-group">
                    <label for="name" class="col-xs-2 control-label">姓名</label>
                      <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="name"
                        v-model="name"
                        name="name">
                      </div>
                </div>
                <!-- panel email -->
                <div class="form-group">
                    <label for="email" class="col-xs-2 control-label">E-mail</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="email"
                        v-model="email"
                        name="email">
                    </div>
                </div>
                <!-- panel property -->
                <div class="form-group">
                    <label for="property" class="col-xs-2 control-label">權限</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="property"
                        v-model="property"
                        name="property">
                    </div>
                </div>
                <!-- panel roast_times -->
                <div class="form-group">
                    <label for="roast_times" class="col-xs-2 control-label">目前剩餘次數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="roast_times"
                        v-model="roast_times"
                        name="roast_times">
                    </div>
                </div>
                <!-- panel quota_times -->
                <div class="form-group">
                    <label for="quota_times" class="col-xs-2 control-label">已儲值次數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="quota_times"
                        v-model="quota_times"
                        name="quota_times">
                    </div>
                </div>
                <!-- panel roast_times -->
                <div class="form-group">
                    <label for="roast_times" class="col-xs-2 control-label">每月烘焙次數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        class="form-control form-feedback"
                        disabled="disabled"
                        id="roast_times"
                        v-model="roast_times"
                        name="roast_times">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/members"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <!-- <button class="btn btn-info btn-outline" type="submit" >送出</button> -->
                </div>
            </form>    
        </div>
    </div>
</div>
</template>


<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";

export default {
  data() {
    return {
      // V
      isProcess: false,
      loaded: false,
      // M
      username: "",
      name: "",
      email: "",
      property: "",
      selected: "",
      quota_times: "",
      roast_times: "",
      member: {},
      access_token: "",
      isUploaded: false
    };
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    // --------------------------------
    // 取得詳情、更新資料
    // --------------------------------
    getMember(username, token) {
      return new Promise((resolve, reject) => {
        this.apiGetMember(
          username,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.member = result.userData;
            
            resolve(true);
          },
          token
        );
      });
    },
    refresh: async function() {
      this.access_token = this.cookie_pull("access_token");
      let result = await this.getMember(
        this.$route.params.username,
        this.access_token
      );
      if (result) {
        return setTimeout(() => {
          this.loaded = true;
          this.initHandler();
        }, 0);
      } else {
        return router.push({ path: "/members" });
      }
    },
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.putMember(this.access_token);
          }
        })
        .catch(error => {
          let e = new Set();
          this.$swal({
            title: "請檢查所有欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    initHandler() {
      this.username = this.member.username;
      this.email = this.member.email;
      switch(this.member.property){
        case 2:
          this.property = '管理員';
          break;
        case 1:
          this.property = '工程師';
          break;
        case 0:
          this.property = '會員';
          break;
        default:
          this.property = '會員';
          break;
      }
      this.name = this.member.name;
      this.merchant_id = this.member.merchant_id;
      // 目前次數
      this.roast_times = this.member.roast_times;
      // 可用次數
      this.quota_times = this.member.quota_times;
      // 每月烘焙次數
      this.times_record = this.member.times_record;

    },
    successHandler() {
      this.$swal({
        title: "修改成功",
        text: ``,
        type: "success",
        confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`,
        showCancelButton: true,
        cancelButtonColor: "#d9534f",
        cancelButtonText: `<span class="glyphicon glyphicon-repeat"></span>繼續修改`
      }).then(
        () => router.push({ path: "/members" }),
        dismiss => this.refresh()
      );
    },
    putMember: async function(token) {
      const updatedMember = this.updatedMemberFormater();

      let isPass = false;
      try {
        isPass = await this.putMemberBasic(
          this.$route.params.username,
          updatedMember,
          this.access_token
        );
        if (!isPass) {
          throw "更新基本資料錯誤";
        }
      } catch (error) {
        this.refresh();
      }
      if (isPass) {
        this.successHandler();
      }
    },
    updatedMemberFormater() {
      return {
        email: this.email,
        property: this.selected,
      };
    },
    putMemberBasic(username, updatedMember, token) {
      return new Promise((resolve, reject) => {
        this.apiPutMember(
          username,
          updatedMember,
          (error, result) => {
            if (error) {
              this.isProcess = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            } else if (result.code === -1) {
              this.isProcess = false;
              this.$swal({
                title: "ERROR",
                text: `${result.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              resolve(true);
            }
          },
          token
        );
      });
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");

    let result = await this.getMember(
      this.$route.params.username,
      this.access_token
    );
    if (result) {
      return setTimeout(() => {
        this.loaded = true;
        this.initHandler();
      }, 0);
    } else {
      return router.push({ path: "/members" });
    }
  }
};
</script>

<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
