<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/members">會員管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 會員類別</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 會員類別</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
                <div>
                  <router-link :to="{ name: 'memberdetail', params: { username: $route.params.username }}">會員詳細資料</router-link>
                </div>
                <br/>
                <div>
                  <router-link :to="{ name: 'Record', params: { username: $route.params.username }}">會員曲線紀錄</router-link>
                </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
export default {
  data() {
    return {
      // V
      isProcess: false,
      access_token: "",
      input: {},
      username: "",
      sign_password: "",
      confirm_password: "",
      email: "",
    //   card_number: "",
    //   card_CVV: "",
    //   card_due_date: "",
    //   card_due_date_year: "",
    //   card_due_date_month: ""
    };
  },
  components: {
    Datepicker
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    addDatetocard() {
      if (this.card_due_date_year !== "" && this.card_due_date_month !== "") {
        this.card_due_date = moment(
          this.card_due_date_year + this.card_due_date_month,
          "YYYYMM"
        ).format();
      }
    },
    checkpassword() {
      if (this.sign_password !== this.confirm_password) {
          throw new Error()
      }
      return
    },
    validateForm() {
      try {
        this.addDatetocard();
        this.checkpassword();
        this.$validator
          .validateAll()
          .then(isSuccess => {
            if (isSuccess) {
              this.addMember(this.access_token);
            } else {
              throw new error();
            }
          })
          .catch(error => {
            let e = new Set();
            this.errors.items.forEach(({ field }) => e.add(field));
            this.$swal({
              title: "請檢查以下欄位是否正確",
              text: [...e],
              type: "warning",
              confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
              showCloseButton: true
            });
          });
      } catch (error) {
          this.$swal({
              title: "密碼與確認密碼不一致",
              type: "warning",
              confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
              showCloseButton: true
            });
      }
    },
    addMember(token) {
      let self = this;
      this.input = {
        username: this.username,
        password: this.sign_password,
        email: this.email
      };

      return new Promise((resolve, reject) => {
        this.apiPostMember(
          self.input,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "出現以下錯誤",
                text: `${result.responseJSON.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              this.$swal({
                title: "新增成功",
                type: "success",
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`
              }).then(() => router.push({ path: "/members" }), dismiss => {});
            }
          },
          token
        );
      });
    }
  },
  mounted() {
    this.access_token = this.cookie_pull("access_token");
  }
};
</script>



<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}

.form-control-aaa {
  max-width: 4;
  width: 200px;
  display: inline;
}
</style>
