<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/members">會員管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 新增會員</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 新增會員</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- 帳號 -->
                <div class="form-group">
                    <label for="username" class="col-xs-2 control-label">帳號</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="username"
                        name="username"
                        v-model="username"
                        v-validate="'required'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('username') }"
                        placeholder="輸入帳號"
                        >
                        <p class="error-msg" v-show="errors.has('username')">帳號不能為空</p>
                    </div>
                </div>
                <!-- panel email -->
                <div class="form-group">
                    <label for="email" class="col-xs-2 control-label">email</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="email"
                        name="email"
                        v-model="email"
                        v-validate="'required|email'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('email') }"
                        placeholder="輸入email">
                        <p class="error-msg" v-show="errors.has('email')">請填寫 email 正確格式</p>
                    </div>
                </div>
                <!-- panel sign_password -->
                <div class="form-group">
                    <label for="sign_password" class="col-xs-2 control-label">密碼</label>
                    <div class="col-xs-8">
                        <input type="password"
                        id="sign_password"
                        name="sign_password"
                        v-model="sign_password"
                        v-validate="'required'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('sign_password') }"
                        placeholder="輸入密碼">
                        <p class="error-msg" v-show="errors.has('sign_password')">密碼不能為空</p>
                    </div>
                </div>
                <!-- panel confirm_password -->
                <div class="form-group">
                    <label for="confirm_password" class="col-xs-2 control-label">確認密碼</label>
                    <div class="col-xs-8">
                        <input type="password"
                        id="confirm_password"
                        name="confirm_password"
                        v-model="confirm_password"
                        v-validate="'required'" 
                        class="form-control form-feedback" v-bind:class="{ 'has-error': errors.has('confirm_password') }"
                        placeholder="輸入密碼">
                        <p class="error-msg" v-show="errors.has('confirm_password')">確認密碼不能為空</p>
                    </div>
                </div>
                <!-- panel card_number -->
                <!-- <div class="form-group">
                    <label for="card_number" class="col-xs-2 control-label">信用卡號</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="card_number"
                        name="card_number"
                        class="form-control form-feedback"
                        v-model="card_number"
                        placeholder="輸入信用卡號">
                    </div>
                </div> -->
                <!-- panel card_CVV -->
                <!-- <div class="form-group">
                    <label for="card_CVV" class="col-xs-2 control-label">安全碼</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="card_CVV"
                        name="card_CVV"
                        class="form-control form-feedback"
                        v-model="card_CVV"
                        placeholder="輸入安全碼">
                    </div>
                </div> -->
                 <!-- panel card_due_date -->
                <!-- <div class="form-group">
                    <label for="card_due_date_year" class="col-xs-2 control-label">信用卡到期日</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="card_due_date_year"
                        name="card_due_date_year"
                        class="form-control form-control-aaa"
                        maxlength="4"
                        v-model="card_due_date_year"
                        placeholder="輸入年分:2022">
                        <input type="text"
                        id="card_due_date_month"
                        name="card_due_date_month"
                        class="form-control form-control-aaa"
                        maxlength="2"
                        v-model="card_due_date_month"
                        placeholder="輸入月份:08">
                    </div>
                </div> -->
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/members"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
        
    </div>
</div>
</template>
<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
export default {
  data() {
    return {
      // V
      isProcess: false,
      access_token: "",
      input: {},
      username: "",
      sign_password: "",
      confirm_password: "",
      email: "",
    //   card_number: "",
    //   card_CVV: "",
    //   card_due_date: "",
    //   card_due_date_year: "",
    //   card_due_date_month: ""
    };
  },
  components: {
    Datepicker
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    addDatetocard() {
      if (this.card_due_date_year !== "" && this.card_due_date_month !== "") {
        this.card_due_date = moment(
          this.card_due_date_year + this.card_due_date_month,
          "YYYYMM"
        ).format();
      }
    },
    checkpassword() {
      if (this.sign_password !== this.confirm_password) {
          throw new Error()
      }
      return
    },
    validateForm() {
      try {
        this.addDatetocard();
        this.checkpassword();
        this.$validator
          .validateAll()
          .then(isSuccess => {
            if (isSuccess) {
              this.addMember(this.access_token);
            } else {
              throw new error();
            }
          })
          .catch(error => {
            let e = new Set();
            this.errors.items.forEach(({ field }) => e.add(field));
            this.$swal({
              title: "請檢查以下欄位是否正確",
              text: [...e],
              type: "warning",
              confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
              showCloseButton: true
            });
          });
      } catch (error) {
          this.$swal({
              title: "密碼與確認密碼不一致",
              type: "warning",
              confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
              showCloseButton: true
            });
      }
    },
    addMember(token) {
      let self = this;
      this.input = {
        username: this.username,
        password: this.sign_password,
        email: this.email
      };

      return new Promise((resolve, reject) => {
        this.apiPostMember(
          self.input,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "出現以下錯誤",
                text: `${result.responseJSON.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              this.$swal({
                title: "新增成功",
                type: "success",
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`
              }).then(() => router.push({ path: "/members" }), dismiss => {});
            }
          },
          token
        );
      });
    }
  },
  mounted() {
    this.access_token = this.cookie_pull("access_token");
  }
};
</script>



<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}

.form-control-aaa {
  max-width: 4;
  width: 200px;
  display: inline;
}
</style>
