<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/orders">訂單管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 新增訂單</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 新增訂單</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel commodity -->
                <div class="form-group">
                    <label for="commodity" class="col-xs-2 control-label">商品名稱</label>
                    <div class="col-xs-8">
                      <select class="form-control" v-model="selected" > 
                        <option disabled value="">請選擇</option>
                        <option v-for="commodities in commodity">{{commodities._id}}</option>
                      </select>
                        <!-- <p class="error-msg" v-show="errors.has('curvesTitle')">曲線名稱不能為空</p> -->
                    </div>
                </div>
                <!-- panel amount -->
                <div class="form-group">
                    <label for="amount" class="col-xs-2 control-label">價格</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="amount"
                        name="amount"
                        v-model="amount"
                        v-validate="{required:true,numeric:true}" 
                        v-bind:class="{ 'has-error': errors.has('amount') }"
                        class="form-control form-feedback"
                        placeholder="價格"
                        disabled=true>
                        <p class="error-msg" v-show="errors.has('amount')">{{errors.first('amount')}}</p>
                    </div>
                </div>
                <!-- panel date -->
                <div class="form-group">
                    <label for="date" class="col-xs-2 control-label">日期</label>
                    <div class="col-xs-8">
                      <datepicker v-model="date"></datepicker>
                    </div>
                </div>
                <!-- panel username -->
                <div class="form-group">
                    <label for="username" class="col-xs-2 control-label">使用者名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="username"
                        name="username"
                        v-model="username"
                        v-validate="{required:true}" 
                        class="form-control form-feedback" 
                        v-bind:class="{ 'has-error': errors.has('username') }"
                        placeholder="輸入使用者名稱">
                        <p class="error-msg" v-show="errors.has('username')">{{errors.first('username')}}</p>
                    </div>
                </div>
                <!-- panel times_add -->
                <div class="form-group">
                    <label for="times_add" class="col-xs-2 control-label">增加次數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="times_add"
                        name="times_add"
                        v-model="times_add"
                        class="form-control form-feedback"
                        placeholder="增加次數"
                        disabled=true>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/orders"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import VueCoreImageUpload  from 'vue-core-image-upload';
import datepicker from "../components/datepicker.vue";
export default {
  data() {
    return {
      // V
      selected:'',
      isProcess: false,
      loaded: false,
      access_token: "",
      commodity:[],
      amount:"",
      date: "",
      username: "",
      times_add: "",
    };
  },
  mixins: [apiMixins, cookieMixin],
  components:{
      datepicker: datepicker
  },
  watch:{
    selected:function(){
      this.commodity.forEach((element)=>{
        if(this.selected === element._id){
          this.amount = element.price;
          this.times_add = element.times;
        }
      })
    }
  },
  methods: {
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.addOrder(this.access_token);
          }else{
            throw new Error();
          }
        })
        .catch(error => {
            console.log(error)
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    inputHandle(){
        return {
            commodityId: this.selected,
            amount: this.amount,
            date: this.date,
            username: this.username,
            times_add: this.times_add,
        }
    },
    addOrder(token) {
      let input = this.inputHandle();
      return new Promise((resolve, reject) => {
        this.apiPostOrder(
           input,
          (error, result) => {
            if (error === true) {
              this.loaded = false;
              this.$swal({
                title: "出現以下錯誤",
                text: `${result.responseJSON.message}`,
                type: "error"
              });
              resolve(false);
            } else {
              this.$swal({
                title: "新增成功",
                text: ``,
                type: "success",
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`
              }).then(
                () => router.push({ path: "/orders" }),
                dismiss => {}
              );
            }
          },
          token
        );
      });
    },
    getCommodity(token){
      return new Promise((resolve, reject) => {
        this.apiGetCommodities(
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.commodity = result.commodities;
            resolve(true);
          },
          token
        );
      });
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    await this.getCommodity(this.access_token)
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
