<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/members">會員管理</router-link>  <i class="glyphicon glyphicon-chevron-right"></i> <router-link :to="{ name: 'MemberCategory', params: { username: $route.params.username }}">會員類別</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 會員曲線</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 曲線基本資料</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>使用者</th>
                <th>已烘次數</th>
                <th>今日已烘次數</th>
                <th>剩餘次數</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{$route.params.username}}</td>
                <td>{{this.member.roast_times}}</td>
                <td>{{this.member.quota_times}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="panel panel-default">
      <!-- panel 標題 -->
      <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 曲線紀錄</h2>
      </div>
      <!-- panel 表格內容 -->
      <div class="panel-body">
        <form role="form" class="form-horizontal">
          <!-- panel roast_times -->
                <div class="form-group">
                    <label for="roast_times" class="col-xs-2 control-label">機器型號</label>
                    <div class="col-xs-8">
                        <select class="form-control" v-model="selected" > 
                        <option disabled selected >請選擇</option>
                        <option >1</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <table class="table">
                    <thead>
                      <th v-for="title of titles" :key="title.key">{{ title.name }}</th>
                    </thead>
                    <tbody>
                      <tr v-for="record of memberRecords" :key="record.key">
                        <td><router-link :to="{ name: 'MemberRecord', params: { id: record._id }}">{{record._id}}</router-link></td>
                        <td>{{ record.date}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/members"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-danger btn-outline" type="button" ><router-link :to="{ name: 'MemberCategory', params: { username: $route.params.username }}"><span class="glyphicon glyphicon-backward"></span> 上一頁 </router-link></button>
                    <!-- <button class="btn btn-info btn-outline" type="submit" >送出</button> -->
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import moment from "moment";
export default {
  data() {
    return {
      // V
      serial:'',
      isProcess: false,
      loaded: false,
      access_token: "",
      member:{},
      memberRecords: [],
      selected: "",
      // Table
      titles: [
        {
          name: "機器序號",
          key: "serialNumber"
        },
        {
          name: "烘焙時間",
          key: "roastDate"
        },
        {
          name: "能量",
          key: "energe"
        }
      ]
    };
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.addSerial(this.access_token);
          }else{
            throw new Error();
          }
        })
        .catch(error => {
          
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    inputHandle(){
        return {
            serial: this.serial,
            addnumber: this.addnumber,
        }
    },
    // --------------------------------
    // 取得會員詳情
    // --------------------------------
    getMember(username, token) {
      return new Promise((resolve, reject) => {
        this.apiGetMember(
          username,
          (error, result) => {
            if (error) {
            if (result.responseJSON.success == false) {
              if(result.responseJSON.message === 'Token Invalid'){
                console.log('ab')
                this.loaded = false;
                this.$swal({
                  title: "使用者已在其他裝置登入，請重新登入",
                  text: `${result.responseJSON.message}`,
                  type: "error"
                }).then(
                  () => {
                    this.updateStatus(false);
                    router.push({ path: "/login" });
                  },
                  dismiss => {}
                );
                return
                resolve(false);
                
              }
              this.loaded = false;
              this.$swal({
                title: "該使用者無權限訪問該頁面",
                text: `${result.responseJSON.message}`,
                type: "error"
              }).then(
                () => {
                  this.updateStatus(true);
                  router.push({ path: "/home" });
                },
                dismiss => {}
              );
              resolve(false);
            } else {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              }).then(
                () => {
                  this.updateStatus(false);
                  router.push({ path: "/login" });
                },
                dismiss => {}
              );
              resolve(true);
            }
          }
            this.member = result.userData;
            resolve(true);
          },
          token
        );
      });
    },
    // --------------------------------
    // 取得會員曲線紀錄
    // --------------------------------
    getMemberRecords(username, token) {
      return new Promise((resolve, reject) => {
        this.apiGetUserRecord(
          username,
          (error, result) => {
            if (error) {
              if (result.responseJSON.success === false) {
                let textTitle = '';
                switch (result.responseJSON.message){
                  case 'Token Invalid':
                    textTitle = '請重新登入';
                    break;
                  case 'Data Not Found':
                    textTitle = '該使用者未有烘豆紀錄';
                    break;
                  default:
                    textTitle = '未知的錯誤';
                    break;
                }
                this.loaded = false;
                return this.$swal({
                  title: textTitle,
                  text: `${result.responseJSON.message}`,
                  type: "error"
                }).then(
                  () => {
                    if(result.responseJSON.message === 'Token Invalid'){
                      this.updateStatus(false);
                      return router.push({ path: "/login" });
                    }
                    this.updateStatus(true);
                  },
                  dismiss => {}
                );
                resolve(false);
              } else{
                this.loaded = false;
                return this.$swal({
                  title: "連線中斷，請稍候重試",
                  text: `${error}`,
                  type: "error"
                });
                resolve(false);
              }
            }
            if(result){
            result.forEach(element => {
              if(element.date !== ''){
                element.date = moment(element.date).format("YYYY"+"-"+"MM"+"-"+"DD");
              }
              
            });
            this.memberRecords = result;
            resolve(true);
            }
          },
          token
        );
      });
    },
    noDataHandler() {
      this.$swal({
        title: "查無資料",
        type: "warning"
      }).then(
        () => {
          this.loaded = true;
        },
        dismiss => {
          this.loaded = true;
        }
      );
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    const username = this.$route.params.username;
    this.getMember(username, this.access_token);
    let result = await this.getMemberRecords(username, this.access_token);

    if (!result) {
      this.noDataHandler(this);
    } 
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
