<template lang="html">
  <div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/curves">烘培紀錄管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 烘培紀錄</h1>
    <div class="panel panel-default">
      <!-- panel 標題 -->
      <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 烘培紀錄</h2>
      </div>
      <!-- panel 表格內容 -->
      <div class="panel-body">
        <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
          <div class="row">
          <div class="col-sm-4">
            <!-- panel machine_id -->
            <div class="form-group">
              <label for="machine_id" class="col-sm-4 control-label">機器型號</label>
              <div class="col-sm-8">
                <input type="text"
                class="form-control form-feedback"
                disabled="disabled"
                id="machine_id"
                v-model="machine_id"
                name="machine_id">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- panel username -->
            <div class="form-group">
              <label for="username" class="col-sm-4 control-label">使用者</label>
              <div class="col-sm-8">
                <input type="text"
                class="form-control form-feedback"
                disabled="disabled"
                id="username"
                v-model="username"
                name="username">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- panel record_date -->
            <div class="form-group">
              <label for="record_date" class="col-sm-4 control-label">時間</label>
              <div class="col-sm-8">
                <input type="text"
                class="form-control form-feedback"
                disabled="disabled"
                id="record_date"
                v-model="record_date"
                name="record_date">
              </div>
            </div>

          </div>
          <div class="col-sm-4">
            <!-- panel displayname -->
            <div class="form-group">
              <label for="displayname" class="col-sm-4 control-label">名稱</label>
              <div class="col-sm-8">
                <input type="text"
                class="form-control form-feedback"
                disabled="disabled"
                id="displayname"
                v-model="displayname"
                name="displayname">
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- panel roast_data_isFavorite -->
            <div class="form-group">
              <label for="isFavorite" class="col-sm-4 control-label">我的最愛</label>
              <div class="col-sm-8">
                <input type="text"
                class="form-control form-feedback"
                disabled="disabled"
                id="roast_data_isFavorite"
                v-model="roast_data_isFavorite"
                name="roast_data_isFavorite">
              </div>
            </div>
          </div>
          <div class="col-sm-4" >
            <!-- panel nothing -->
              <!-- <div class="form-group">
                <label for="isFavorite" class="col-sm-4 control-label">無</label>
                <div class="col-sm-8">
                  <input type="text"
                  class="form-control form-feedback"
                  disabled="disabled"
                  id="nothing"
                  v-model="nothing"
                  name="nothing">
                </div>
              </div>
            </div> -->
          </div> 
           </div>
          <div class="row">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" @click="is_roast_set"
            href="#collapseThree">
            <h4 class="panel-title">
              <span :class="[isRoast_set ? 'glyphicon glyphicon glyphicon-minus' : 'glyphicon glyphicon glyphicon-plus']" aria-hidden="true"></span>
              烘焙設定
            </h4>
          </div>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
              <div class="col-sm-4">
                <!-- panel roast_set_warming_temp -->
                <div class="form-group">
                  <label for="roast_set_warming_temp" class="col-sm-4 control-label">暖爐溫度</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_warming_temp"
                    v-model="roast_set_warming_temp"
                    name="roast_set_warming_temp">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_steaming_temp -->
                <div class="form-group">
                  <label for="roast_set_steaming_temp" class="col-sm-4 control-label">蒸焙溫度</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_steaming_temp"
                    v-model="roast_set_steaming_temp"
                    name="roast_set_steaming_temp">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_roasting_temp -->
                <div class="form-group">
                  <label for="roast_set_roasting_temp" class="col-sm-4 control-label">烘焙溫度</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_roasting_temp"
                    v-model="roast_set_roasting_temp"
                    name="roast_set_roasting_temp">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_warming_fan -->
                <div class="form-group">
                  <label for="roast_set_warming_fan" class="col-sm-4 control-label">暖爐風扇轉速</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_warming_fan"
                    v-model="roast_set_warming_fan"
                    name="roast_set_warming_fan">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_steaming_fan -->
                <div class="form-group">
                  <label for="roast_set_steaming_fan" class="col-sm-4 control-label">蒸焙風扇轉速</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_steaming_fan"
                    v-model="roast_set_steaming_fan"
                    name="roast_set_steaming_fan">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_roasting_fan -->
                <div class="form-group">
                  <label for="roast_set_roasting_fan" class="col-sm-4 control-label">烘焙風扇轉速</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_roasting_fan"
                    v-model="roast_set_roasting_fan"
                    name="roast_set_roasting_fan">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_warming_power -->
                <div class="form-group">
                  <label for="roast_set_warming_power" class="col-sm-4 control-label">暖爐功率</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_warming_power"
                    v-model="roast_set_warming_power"
                    name="roast_set_warming_power">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_steaming_power -->
                <div class="form-group">
                  <label for="roast_set_steaming_power" class="col-sm-4 control-label">蒸被功率</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_steaming_power"
                    v-model="roast_set_steaming_power"
                    name="roast_set_steaming_power">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_roasting_power -->
                <div class="form-group">
                  <label for="roast_set_roasting_power" class="col-sm-4 control-label">烘焙功率</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_roasting_power"
                    v-model="roast_set_roasting_power"
                    name="roast_set_roasting_power">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_warming_roller -->
                <div class="form-group">
                  <label for="roast_set_warming_roller" class="col-sm-4 control-label">暖爐功率</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_warming_roller"
                    v-model="roast_set_warming_roller"
                    name="roast_set_warming_roller">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_steaming_roller -->
                <div class="form-group">
                  <label for="roast_set_steaming_roller" class="col-sm-4 control-label">蒸焙滾筒轉速</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_steaming_roller"
                    v-model="roast_set_steaming_roller"
                    name="roast_set_steaming_roller">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_roasting_roller -->
                <div class="form-group">
                  <label for="roast_set_roasting_roller" class="col-sm-4 control-label">烘焙滾筒轉速</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_roasting_roller"
                    v-model="roast_set_roasting_roller"
                    name="roast_set_roasting_roller">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_warming_time -->
                <div class="form-group">
                  <label for="roast_set_warming_time" class="col-sm-4 control-label">暖爐時間</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_warming_time"
                    v-model="roast_set_warming_time"
                    name="roast_set_warming_time">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_steaming_time -->
                <div class="form-group">
                  <label for="roast_set_steaming_time" class="col-sm-4 control-label">蒸焙時間</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_steaming_time"
                    v-model="roast_set_steaming_time"
                    name="roast_set_steaming_time">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_roasting_time -->
                <div class="form-group">
                  <label for="roast_set_roasting_time" class="col-sm-4 control-label">烘焙時間</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_roasting_time"
                    v-model="roast_set_roasting_time"
                    name="roast_set_roasting_time">
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <!-- panel roast_set_weight -->
                <div class="form-group">
                  <label for="roast_set_weight" class="col-sm-4 control-label">重量</label>
                  <div class="col-sm-8">
                    <input type="text"
                    class="form-control form-feedback"
                    disabled="disabled"
                    id="roast_set_weight"
                    v-model="roast_set_weight"
                    name="roast_set_weight">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div> 
        <div class="row">
          <!-- 烘焙資料 -->
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" @click="is_roast_data"
          href="#collapseTwo">
          <h4 class="panel-title">
            <span :class="[isRoast_data ? 'glyphicon glyphicon glyphicon-minus' : 'glyphicon glyphicon glyphicon-plus']" aria-hidden="true"></span>
            烘焙資料
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
              <div class="row">
                <div class="col-sm-4">
                  <!-- panel roast_data_warming_roller -->
                  <div class="form-group">
                    <label for="roast_data_warming_roller" class="col-sm-4 control-label">暖爐滾筒轉速</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_warming_roller"
                      v-model="roast_data_warming_roller"
                      name="roast_data_warming_roller">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- panel roast_data_steaming_roller -->
                  <div class="form-group">
                    <label for="roast_data_steaming_roller" class="col-sm-4 control-label">蒸焙滾筒轉速</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_steaming_roller"
                      v-model="roast_data_steaming_roller"
                      name="roast_data_steaming_roller">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- panel roast_data_roasting_roller -->
                  <div class="form-group">
                    <label for="roast_data_roasting_roller" class="col-sm-4 control-label">烘焙滾筒轉速</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_roasting_roller"
                      v-model="roast_data_roasting_roller"
                      name="roast_data_roasting_roller">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- panel roast_data_pot_temps -->
                  <div class="form-group">
                    <label for="roast_data_pot_temps" class="col-sm-4 control-label">爐溫度</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_pot_temps"
                      v-model="roast_data_pot_temps"
                      name="roast_data_pot_temps">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- panel roast_data_samplebar_temps -->
                  <div class="form-group">
                    <label for="roast_data_samplebar_temps" class="col-sm-4 control-label">取樣棒溫度</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_samplebar_temps"
                      v-model="roast_data_samplebar_temps"
                      name="roast_data_samplebar_temps">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- panel roast_data_fans -->
                  <div class="form-group">
                    <label for="roast_data_fans" class="col-sm-4 control-label">風扇</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_fans"
                      v-model="roast_data_fans"
                      name="roast_data_fans">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- panel roast_data_rollers -->
                  <div class="form-group">
                    <label for="roast_data_rollers" class="col-sm-4 control-label">滾筒轉速</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_rollers"
                      v-model="roast_data_rollers"
                      name="roast_data_rollers">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- panel roast_data_powers -->
                  <div class="form-group">
                    <label for="roast_data_powers" class="col-sm-4 control-label">功率</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_powers"
                      v-model="roast_data_powers"
                      name="roast_data_powers">
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <!-- panel roast_data_curve_id -->
                  <div class="form-group">
                    <label for="roast_data_curve_id" class="col-sm-4 control-label">曲線ID</label>
                    <div class="col-sm-8">
                      <input type="text"
                      class="form-control form-feedback"
                      disabled="disabled"
                      id="roast_data_curve_id"
                      v-model="roast_data_curve_id"
                      name="roast_data_curve_id">
                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      風扇調整
                    </div>
                    <div class="panel-body">
                      <div class="col-sm-4">
                        <!-- panel dynamic_fans_fan -->
                        <div class="form-group">
                          <label for="dynamic_fans_fan" class="col-sm-4 control-label">溫度</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_fans_fan"
                            v-model="dynamic_fans_fan"
                            name="dynamic_fans_fan">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <!-- panel dynamic_fans_timing -->
                        <div class="form-group">
                          <label for="dynamic_fans_timing" class="col-sm-4 control-label">時間點</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_fans_timing"
                            v-model="dynamic_fans_timing"
                            name="dynamic_fans_timing">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <!-- panel dynamic_fans_state -->
                        <div class="form-group">
                          <label for="dynamic_fans_state" class="col-sm-4 control-label">狀態</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_fans_state"
                            v-model="dynamic_fans_state"
                            name="dynamic_fans_state">
                          </div>
                        </div>
                      </div>
                    </div><!-- panel-body -->
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      溫度調整
                    </div>
                    <div class="panel-body">
                      <div class="col-sm-4">
                        <!-- panel dynamic_temps_temp -->
                        <div class="form-group">
                          <label for="dynamic_temps_temp" class="col-sm-4 control-label">溫度</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_temps_temp"
                            v-model="dynamic_temps_temp"
                            name="dynamic_temps_temp">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <!-- panel dynamic_temps_timing -->
                        <div class="form-group">
                          <label for="dynamic_temps_timing" class="col-sm-4 control-label">時間點</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_temps_timing"
                            v-model="dynamic_temps_timing"
                            name="dynamic_temps_timing">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <!-- panel dynamic_temps_state -->
                        <div class="form-group">
                          <label for="dynamic_temps_state" class="col-sm-4 control-label">狀態</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_temps_state"
                            v-model="dynamic_temps_state"
                            name="dynamic_temps_state">
                          </div>
                        </div>
                      </div>
                    </div><!-- panel-body -->
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      滾筒轉速調整
                    </div>
                    <div class="panel-body">
                      <div class="col-sm-4">
                        <!-- panel dynamic_roller_roller -->
                        <div class="form-group">
                          <label for="dynamic_roller_roller" class="col-sm-4 control-label">滾筒轉速</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_roller_roller"
                            v-model="dynamic_roller_roller"
                            name="dynamic_roller_roller">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <!-- panel dynamic_roller_timing -->
                        <div class="form-group">
                          <label for="dynamic_roller_timing" class="col-sm-4 control-label">時間點</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_roller_timing"
                            v-model="dynamic_roller_timing"
                            name="dynamic_roller_timing">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <!-- panel dynamic_roller_state -->
                        <div class="form-group">
                          <label for="state" class="col-sm-4 control-label">狀態</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_roller_state"
                            v-model="dynamic_roller_state"
                            name="dynamic_roller_state">
                          </div>
                        </div>
                      </div>
                    </div><!-- panel-body -->
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      功率調整
                    </div>
                    <div class="panel-body">
                      <div class="col-sm-4">
                        <!-- panel dynamic_powers_temp -->
                        <div class="form-group">
                          <label for="dynamic_powers_temp" class="col-sm-4 control-label">溫度</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_powers_temp"
                            v-model="dynamic_powers_temp"
                            name="dynamic_powers_temp">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <!-- panel dynamic_powers_timing -->
                        <div class="form-group">
                          <label for="dynamic_powers_timing" class="col-sm-4 control-label">時間點</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_powers_timing"
                            v-model="dynamic_powers_timing"
                            name="dynamic_powers_timing">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <!-- panel dynamic_powers_state -->
                        <div class="form-group">
                          <label for="dynamic_powers_state" class="col-sm-4 control-label">狀態</label>
                          <div class="col-sm-8">
                            <input type="text"
                            class="form-control form-feedback"
                            disabled="disabled"
                            id="dynamic_powers_state"
                            v-model="dynamic_powers_state"
                            name="dynamic_powers_state">
                          </div>
                        </div>
                      </div>
                    </div><!-- panel-body -->
                  </div>
                </div>
              </div><!-- row end-->
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
      <div class="form-group form-button">
        <button class="btn btn-danger btn-outline" type="button" ><router-link to="/records"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
        <!-- <button class="btn btn-info btn-outline" type="submit" >送出</button> -->
      </div>
    </form>    
  </div>
</div>
</div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";
import * as myConst from '../assets/js/const'
export default {
  data() {
    return {
      isRoast_set: false,
      isRoast_data:false,
      // V
      isProcess: false,
      loaded: false,
      access_token: "",
      machine_id: "",
      username: "",
      record:{},
      record_date: "",
      displayname: "",
      roast_set_warming_temp: "",
      roast_set_steaming_temp: "",
      roast_set_roasting_temp: "",
      roast_set_warming_fan: "",
      roast_set_steaming_fan: "",
      roast_set_roasting_fan: "",
      roast_set_warming_power: "",
      roast_set_steaming_power: "",
      roast_set_roasting_power: "",
      roast_set_warming_roller: "",
      roast_set_steaming_roller: "",
      roast_set_roasting_roller: "",
      roast_set_warming_time: "",
      roast_set_steaming_time: "",
      roast_set_roasting_time: "",
      roast_set_weight: "",
      roast_data_warming_roller: "",
      roast_data_steaming_roller: "",
      roast_data_roasting_roller: "",
      roast_data_pot_temps: "",
      roast_data_samplebar_temps: "",
      roast_data_fans: "",
      roast_data_rollers: "",
      roast_data_powers: "",
      roast_data_curve_id: "",
      roast_data_isFavorite: "",
      dynamic_temps_temp: "",
      dynamic_temps_timing: "",
      dynamic_temps_state: "",
      dynamic_fans_fan: "",
      dynamic_fans_timing: "",
      dynamic_fans_state: "",
      dynamic_roller_roller:"",
      dynamic_roller_timing:"",
      dynamic_roller_state:"",
      dynamic_powers_temp:"",
      dynamic_powers_timing: "",
      dynamic_powers_state: "",

    };
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    is_roast_data(){
      this.isRoast_data = !this.isRoast_data;
    },
    is_roast_set(){
      this.isRoast_set = !this.isRoast_set;
    },
    // --------------------------------
    // 取得詳情、更新資料
    // --------------------------------
    getRecord(id, token) {
      return new Promise((resolve, reject) => {
        this.apiGetRecord(
          id,
          (error, result) => {
            if (error) {
              this.loaded = false;
              this.$swal({
                title: "連線中斷，請稍候重試",
                text: `${error}`,
                type: "error"
              });
              resolve(false);
            }
            this.record = result.existingRecords;
            resolve(true);
          },
          token
        );
      });
    },
    // validateForm() {
      // this.$validator
      //   .validateAll()
      //   .then(isSuccess => {
      //     if (isSuccess) {
      //       this.putCommodities(this.access_token);
      //     } else {
      //       throw new Error();
      //     }
      //   })
      //   .catch(error => {
      //     let e = new Set();
      //     this.errors.items.forEach(({ field }) => e.add(field));
      //     this.$swal({
      //       title: "請檢查以下欄位是否正確",
      //       text: [...e],
      //       type: "warning",
      //       confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
      //       showCloseButton: true
      //     });
      //   });
    // },
//     refresh: async function() {
//       this.access_token = this.cookie_pull("access_token");
//       let result = await this.getCommodities(
//         this.$route.params.title,
//         this.access_token
//       );
//       if (result) {
//         return setTimeout(() => {
//           this.loaded = true;
//           this.initHandler();
//         }, 0);
//       } else {
//         return router.push({ path: "/commodities" });
//       }
//     },
//     updatedCommoditiesFormater() {
//       return {
//         title: this.title_name,
//         price: this.price,
//         context: this.context,
//         times: this.times
//       };
//     },
//     putCommodities: async function(token) {
//       const updatedCommodities = this.updatedCommoditiesFormater();

//       let isPass = false;
//       try {
//         isPass = await this.putCommoditiesBasic(
//           this.$route.params.title,
//           updatedCommodities,
//           this.access_token
//         );
//         if (!isPass) {
//           throw "更新資料錯誤";
//         }
//       } catch (error) {
//         this.refresh();
//       }
//       if (isPass) {
//         this.successHandler();
//       }
//     },
//     putCommoditiesBasic(title, updatedCommodities, token) {
//       return new Promise((resolve, reject) => {
//         this.apiPutCommodities(
//           title,
//           updatedCommodities,
//           (error, result) => {
//             if (error) {
//               this.isProcess = false;
//               this.$swal({
//                 title: "連線中斷，請稍候重試",
//                 text: `${error}`,
//                 type: "error"
//               });
//               resolve(false);
//             } else if (result.code === -1) {
//               this.isProcess = false;
//               this.$swal({
//                 title: "ERROR",
//                 text: `${result.message}`,
//                 type: "error"
//               });
//               resolve(false);
//             } else {
//               resolve(true);
//             }
//           },
//           token
//         );
//       });
//     },
    initHandler() {
      this.machine_id = this.record.machine_id;
      this.username = this.record.username;
      this.record_date = this.record.record_date;
      this.displayname = this.record.displayName;
      this.isfavorite = this.record.isFavorite;
      //roastSet
      this.roast_set_warming_temp = this.record.roastSet.warming_temp;
      this.roast_set_steaming_temp = this.record.roastSet.steaming_temp;
      this.roast_set_roasting_temp = this.record.roastSet.roasting_temp;
      this.roast_set_warming_fan = this.record.roastSet.warming_fan;
      this.roast_set_steaming_fan = this.record.roastSet.steaming_fan;
      this.roast_set_roasting_fan = this.record.roastSet.roasting_fan;
      this.roast_set_warming_power = this.record.roastSet.warming_power;
      this.roast_set_steaming_power = this.record.roastSet.steaming_power;
      this.roast_set_roasting_power = this.record.roastSet.roasting_power;
      this.roast_set_warming_roller = this.record.roastSet.warming_roller;
      this.roast_set_steaming_roller = this.record.roastSet.steaming_roller;
      this.roast_set_roasting_roller = this.record.roastSet.roasting_roller;
      this.roast_set_warming_time = this.record.roastSet.warming_time;
      this.roast_set_steaming_time = this.record.roastSet.steaming_time;
      this.roast_set_roasting_time = this.record.roastSet.roasting_time;
      this.roast_set_weight = this.record.roastSet.weight;
      //roastData
       this.roast_data_warming_roller = this.record.roastData.warmingRoller;
      this.roast_data_steaming_roller = this.record.roastData.steamingRoller;
      this.roast_data_roasting_roller = this.record.roastData.roastingRoller;
      this.roast_data_pot_temps = this.record.roastData.potTemps;
      this.roast_data_samplebar_temps = this.record.roastData.samplebarTemps;
      this.roast_data_fans = this.record.roastData.fans;
      this.roast_data_rollers = this.record.roastData.rollers;
      this.roast_data_powers = this.record.roastData.powers;
      this.roast_data_curve_id = this.record.roastData.curve_id;

      this.roast_set_warming_roller = this.record.roastData.dynamicTemps[0].temp;
      this.roast_set_steaming_roller = this.record.roastData.dynamicTemps[0].timing;
      this.roast_set_roasting_roller = this.record.roastData.dynamicTemps[0].state;
      this.dynamic_fans_fan = this.record.roastData.dynamicFans[0].fan;
      this.dynamic_fans_timing = this.record.roastData.dynamicFans[0].timing;
      this.dynamic_fans_state = this.record.roastData.dynamicFans[0].state;
      this.dynamic_roller_roller = this.record.roastData.dynamicRoller[0].roller;
      this.dynamic_roller_timing = this.record.roastData.dynamicRoller[0].timing;
      this.dynamic_roller_state = this.record.roastData.dynamicRoller[0].state;
      this.dynamic_powers_temp = this.record.roastData.dynamicPowers[0].temp;
      this.dynamic_powers_timing = this.record.roastData.dynamicPowers[0].timing;
      this.dynamic_powers_state = this.record.roastData.dynamicPowers[0].state;
    }
  },
  mounted: async function() {
    this.access_token = this.cookie_pull("access_token");
    //取得記錄資料
    // let result = await this.getRecord(this.$route.params.id, this.access_token);
    // if (result) {
    //   return setTimeout(() => {
    //     this.loaded = true;
    //     this.initHandler();
    //   }, 0);
    // } else {
    //   return router.push({ path: "/records" });
    // }
  }
};

</script>


<style>
/* * {
  box-shadow: 0 0 1px red;
} */

.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>

