<template lang="html">
<div class="col-xs-10" v-cloak>
    <!-- 頁面標題 -->
    <h1 class="page-header"><router-link to="/serials">序號管理</router-link> <i class="glyphicon glyphicon-chevron-right"></i> 新增序號</h1>
    <div class="panel panel-default">
        <!-- panel 標題 -->
        <div class="panel-heading">
            <h2 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 新增序號</h2>
        </div>
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel serial -->
                <div class="form-group">
                    <label for="serial" class="col-xs-2 control-label">序號名稱</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="serial"
                        name="serial"
                        v-model="serial"
                        v-validate="{required:true,numeric:true,max:6}" 
                        v-bind:class="{ 'has-error': errors.has('serial') }"
                        class="form-control form-feedback"
                        placeholder="序號名稱 範例:170102" maxlength="6">
                        <p class="error-msg" v-show="errors.has('serial')">{{errors.first('serial')}}</p>
                    </div>
                </div>
                <!-- panel addnumber -->
                <div class="form-group">
                    <label for="addnumber" class="col-xs-2 control-label">產生組數</label>
                    <div class="col-xs-8">
                        <input type="text"
                        id="addnumber"
                        name="addnumber"
                        v-model="addnumber"
                        v-validate="{required:true,numeric:true}" 
                        v-bind:class="{ 'has-error': errors.has('addnumber') }"
                        class="form-control form-feedback"
                        placeholder="組數">
                        <p class="error-msg" v-show="errors.has('addnumber')">{{errors.first('addnumber')}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- panel 表格內容 -->
        <div class="panel-body">
            <form role="form" class="form-horizontal" v-on:submit.prevent="validateForm">
                <!-- panel 按鈕 -->
                <div class="form-group form-button">
                    <button class="btn btn-danger btn-outline" type="button" ><router-link to="/serials"><span class="glyphicon glyphicon-backward"></span> 回到列表</router-link></button>
                    <button class="btn btn-info btn-outline" type="submit" >送出</button>
                </div>
            </form>    
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import router from "../router/index";
import { apiMixins } from "../mixins/api-mixins";
import { cookieMixin } from "../mixins/cookie-mixins";

export default {
  data() {
    return {
      // V
      serial:'',
      isProcess: false,
      loaded: false,
      access_token: "",
      commodity:[],
      addnumber:""
    };
  },
  mixins: [apiMixins, cookieMixin],
  methods: {
    validateForm() {
      this.$validator
        .validateAll()
        .then(isSuccess => {
          if (isSuccess) {
            this.addSerial(this.access_token);
          }else{
            throw new Error();
          }
        })
        .catch(error => {
            console.log(error)
          let e = new Set();
          this.errors.items.forEach(({ field }) => e.add(field));
          this.$swal({
            title: "請檢查以下欄位是否正確",
            text: [...e],
            type: "warning",
            confirmButtonText: `<span class="glyphicon glyphicon-refresh"></span>重試`,
            showCloseButton: true
          });
        });
    },
    inputHandle(){
        return {
            serial: this.serial,
            addnumber: this.addnumber,
        }
    },
    addSerial(token) {
      let input = this.inputHandle();
      return new Promise((resolve, reject) => {
        this.apiPostSerial(
           input,
          (error, result) => {
            if (error === true) {
              this.loaded = false;
              this.$swal({
                title: "出現以下錯誤",
                text: `${result.responseJSON}`,
                type: "error"
              });
              resolve(false);
            } else {
              this.$swal({
                title: "新增成功",
                text: ``,
                type: "success",
                allowOutsideClick: false,
                allowEscapeKey: false,
                confirmButtonText: `<span class="glyphicon glyphicon-backward"></span>回到列表`
              }).then(
                () => router.push({ path: "/serials" }),
                dismiss => {}
              );
            }
          },
          token
        );
      });
    }
  },
  mounted: function() {
    this.access_token = this.cookie_pull("access_token");
  }
};
</script>


<style>
.btn-outline {
  width: 100px;
}

.form-button {
  text-align: center;
}

.form-button > button {
  margin: 15px;
}
</style>
