<template lang="html">
  <div class="container-fluid">
    <!-- navbar top -->
    <topnav-view></topnav-view>
    <div class="row">
        <sidenav-view v-if="loginState"></sidenav-view>
        <router-view ></router-view>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import { cookieMixin } from '../mixins/cookie-mixins'
import topnav from './topnav.vue'
import sidenav from './sidenav.vue'
export default {
  // when component uses other components
  components: {
    'topnav-view': topnav,
    'sidenav-view': sidenav
  },
   computed: {
      ...mapState({
          loginState: ({member}) => member.loginState
      }),    
  },
  mixins: [cookieMixin],
  methods: {
    ...mapActions(['checkLogin']),
  },
  beforeCreate() {},
  mounted() {
      this.checkLogin({
        'cookie_pull': this.cookie_pull,
        'cookie_clear': this.cookie_clear
      })   
  }
}
</script>

<style>
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
<style lang="scss">
  $themenavbg: #2e353d;
  $themefont: #e1ffff;

  $success: #5cb85c;
  $primary: #428bca;
  $info: #5bc0de;
  $warning: #f0ad4e;
  $danger: #d9534f;
  /*-------------------------
    my CSS reseting
  --------------------------*/
  html {
    height: 100%;
  }

  // html, body, .container-fluid {
  //   height: 100%;
  // }

  .clear-fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  // .clear-fix {
  //   *+height:1%;
  // }

  /* Hide un-compiled mustache bindings
  until the Vue instance is ready */
  [v-cloak] {
    display: none;
  }

  a, a:visited {
    outline:none;
    color:#389dc1;
  }

  a:hover{
    text-decoration:none;
  }

  section, footer, header, aside, nav{
    display: block;
  }

  .cos-panel {
    width: 50%;
  }

  .has-error {
    border-color: rgba(248, 66, 66, 0.8);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 0 8px rgb(248, 66, 66);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(248, 66, 66);
  }

  .error-msg {
    color: $danger;
  }

  .form-feedback {
    &:invalid:focus {
      @extend .has-error;
    }
  }

  button.btn:hover {
    color: #fff;
  }

  button.btn > a {
    color: inherit;
    display: block;
    // width: 100px;
    &:hover {
      color: #fff;
    }
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  /*-------------------------
	  Bootstrap hacking
  --------------------------*/
  .btn-cos {
    font-weight: bold;
    color: $themefont;
    background-color: $themenavbg;
    border-color: $themenavbg;
    &:hover, &:focus {
      color: #fff;
      background-color: lighten($themenavbg, 20%);
      border-color: lighten($themenavbg, 20%);
    }
  }

  .btn-primary.btn-outline {
    color: $primary;
  }

  .btn-warning.btn-outline {
    color: $warning;
  }

  .btn-danger.btn-outline {
    color: $danger;
  }

  .btn-info.btn-outline {
    color: $info;
  }

  .btn-success.btn-outline {
    color: $success;
  }

  .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
  }

  .cos-panel > .panel-heading {
    color: $themefont;
    background-color: $themenavbg;
    border-color: #ddd;
  }

  .addone {
    border: none;
  }

  .glyphicon.normal-right-spinner {
      -webkit-animation: glyphicon-spin-r 2s infinite linear;
      animation: glyphicon-spin-r 2s infinite linear;
  }

  @-webkit-keyframes glyphicon-spin-r {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }

      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }

  @keyframes glyphicon-spin-r {
      0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }

      100% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }
  }

  @-webkit-keyframes glyphicon-spin-l {
      0% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }

      100% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
  }

  @keyframes glyphicon-spin-l {
      0% {
          -webkit-transform: rotate(359deg);
          transform: rotate(359deg);
      }

      100% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
  }
</style>
