<template lang="html">
  <div class="col-xs-2 cos-sidenav">
      <!-- 側邊導覽列 -->
      <nav class="nav-side-menu" role="navigation" v-bind:class="active">
          <ul>
            <!-- 0. 帳號管理 -->
            <!-- <li class="menu-list-style admins" v-on:click="activate('admins')">
                <router-link to="/admins"><span class="glyphicon glyphicon-text-background" aria-hidden="true"></span> 帳號管理</router-link>
            </li> -->
            <!-- 0. 會員管理 -->
            <li class="menu-list-style members" v-on:click="activate('members')">
                <router-link to="/members"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 會員管理</router-link>
            </li>
            <!-- 1. 商品管理 -->
            <li class="menu-list-style commodities" v-on:click="activate('commodities')">
                <router-link to="/commodities"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 商品管理</router-link>
            </li>
            <!-- 2. 曲線管理 -->
            <li class="menu-list-style curves" v-on:click="activate('curves')">
                <router-link to="/curves"><span class="glyphicon glyphicon glyphicon-equalizer" aria-hidden="true"></span> 曲線管理</router-link>
            </li>
            <!-- 3. 咖啡豆管理 -->
            <li class="menu-list-style beans" v-on:click="activate('beans')" >
                <router-link to="/beans"><span class="glyphicon 	glyphicon glyphicon-tint" aria-hidden="true"></span> 咖啡豆管理</router-link>
            </li>
            <!-- 4. 烘豆紀錄紀錄管理 -->
            <li class="menu-list-style records" v-on:click="activate('records')" >
                <router-link to="/records"><span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span> 烘豆紀錄管理</router-link>
            </li>
            <!-- 5. 訂單管理 -->
            <li class="menu-list-style orders" v-on:click="activate('orders')" >
                <router-link to="/orders"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> 訂單管理</router-link>
            </li>
            <!-- 6. 序號管理 -->
            <li class="menu-list-style serials" v-on:click="activate('serials')" >
                <router-link to="/serials"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> 序號管理</router-link>
            </li>
            <!-- 7. 合約管理 -->
            <li class="menu-list-style contracts" v-on:click="activate('contracts')" >
                <router-link to="/contracts"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> 合約管理</router-link>
            </li>
          </ul>
      </nav>
  </div>
</template>

<script>
import { cookieMixin } from "../mixins/cookie-mixins";
import jwtDecode from 'jwt-decode'
export default {
  // component properties
  props: {},
  // variables
  data() {
    return {
      active: "",
      username: ""
    };
  },
  computed: {},
  // when component uses other components
  components: {},
  watch: {},
  mixins: [cookieMixin],
  methods: {
    // --------------------------------
    // V:
    // --------------------------------
    activate(target) {
      // When a model is changed, the view will be automatically updated.
      this.active = target;
    },
    getUser(){
      this.access_token = this.cookie_pull("access_token");
      let name = jwtDecode(this.access_token);
      return name.username;
    }
  },
  beforeCreate() {},
  mounted() {
      this.username = this.getUser();
  }
};
</script>

<style lang="scss">
$themenavbg: #2e353d;
$themenavhover: #4f5b69;
$themeSubnavbg: #181c20;
$themeSubnavhover: #020203;
$themeborder: #23282e;
$themefont: #e1ffff;
$navfocus: #d19b3d;
.cos-sidenav {
  padding: 0px;
  color: #fff;
}
.menu-list-style {
  height: 60px;
  line-height: 60px;
}
nav.admins .admins,
nav.members .members,
nav.commodities .commodities,
nav.curves .curves
nav.records .records
nav.serials .serials
nav.contracts .contracts
nav.orders .orders {
  border-left: 5px solid $navfocus;
  background-color: $themenavhover;
}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 16px;
  font-weight: 200;
  background-color: $themenavbg;
  position: fixed;
  width: inherit;
  height: 100%;
  > ul > li:first-child {
    border-top: 1px solid $themeborder;
  }
  ul,
  li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    .sub-menu li {
      background-color: $themeSubnavbg;
      border: none;
      line-height: 28px;
      border-bottom: 1px solid $themeborder;
      // margin-left: 0px;
      padding-left: 27px;
      &:hover {
        background-color: $themeSubnavhover;
      }
    }
  }
  li {
    padding-left: 10px;
    border-left: 5px solid $themenavbg;
    border-bottom: 1px solid $themeborder;
    &:hover {
      border-left: 5px solid $navfocus;
      background-color: $themenavhover;
    }
    a {
      text-decoration: none;
      color: $themefont;
      display: block;
    }
  }
}
</style>
