<template>
  <div class="row" style="height: 50px;">
      <!-- navbar top -->
      <nav class="navbar navbar-inverse navbar-fixed-top cos-topnav">
          <div class="container-fluid">
              <!-- navbar 標題 -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <router-link class="navbar-brand" to="/home">木時咖啡 後台</router-link>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <!-- navbar 登入登出按鈕 -->
                  <ul class="nav navbar-nav navbar-right">
                    <li v-if="!loginState"><router-link to="/login"><span class="glyphicon glyphicon-log-in"></span> Login</router-link></li>
                    <li v-if="loginState"><a>Hello！{{ jwtDecode.username }}</a></li>
                    <li v-if="loginState"><a @click.stop="initlogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
          </div>
      </nav>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import { cookieMixin } from '../mixins/cookie-mixins'
import router from '../router/index'
export default {
  // component properties
  props: {

  },
  // variables
  data() {
    return {
      active:"",
    }
  },
  computed: {
    ...mapState({
        loginState: ({member}) => member.loginState,
    }),
    ...mapGetters([
      'jwtDecode',
    ])   
  },
  // when component uses other components
  components: {

  },
  watch: {},
  mixins: [cookieMixin],
  methods: {
    ...mapActions(['updateStatus']),
    // --------------------------------
    // C:
    // --------------------------------
    initlogout() {
      this.$swal({
        title: '確定登出嗎?',
        text: "點擊確定登出後台",
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: '#5bc0de',
        cancelButtonColor: '#d9534f',
        confirmButtonText: '確認登出',
        cancelButtonText: '取消',
      }).then(
        () => {
          this.$swal({
            title: '登出成功',
            text: `將為您轉至登入頁面`,
            type: 'success',
            timer: 1000
          })
          .then(
            () => this.logout(),
            (dismiss) => {
              if (dismiss === 'timer') {
                this.logout()
              }
            }
          )
        }, (dismiss) => {
        // dismiss can be 'cancel', 'overlay',
        // 'close', and 'timer'
        if (dismiss === 'cancel') {

        }
      })
    },
    // --------------------------------
    // M:
    // --------------------------------
    logout () {
      this.cookie_clear()
      this.updateStatus(false)
      router.push({ path: 'login' })
    }
  },
  beforeCreate() {},
  mounted() {
  }
};
</script>

<style lang="scss">
  $themenavbg: #2e353d;
  $themefont: #e1ffff;
  .cos-topnav {
    background-color: $themenavbg;
    border-radius: 0px;
    margin-bottom: 0px;
    border: none;
    ul li {
      cursor: pointer;
    }
  }
  /*-------------------------
	  Bootstrap hacking
  --------------------------*/
  .navbar-inverse .navbar-brand {
    color: $themefont;
  }
</style>