<template>
  <div class="row" v-cloak>
    <div class="table-cos">
      <table class="table table-hover">
        <!-- 表格標題 -->
        <thead>
          <tr>
            <th v-for="title of titles" :key="title.key">{{ title.name }}</th>
          </tr>
        </thead>
        <!-- 表格內容 -->
        <tbody>
          <tr v-for="set of rows" :key="set.username">
            <td><router-link :to="{ name: 'CurvesRead', params: { id: set._id }}">{{ set.bean_id }}</router-link></td>
            <td>{{ set.roast_scale }}</td>
            <td>{{ set.description }}</td>
            <td>{{ ...set.owners}}</td>
            <td><button type="button" class="btn btn-warning btn-sm" @click.stop.prevent="routeToUpdate(set)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
            <td><button type="button" class="btn btn-danger btn-sm" @click.stop.prevent="routeToDelete(set)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { helperMixin } from '../mixins/helper-mixins'
export default {
  props: {
    rows: {
      type: Array,
      default: () => {
        return []
      }
    },
    titles: {
      type: Array,
      default: () => {
        return []
      }
    },
  },
  data () {
    return {}
  },
  methods: {
    routeToUpdate (set) {
      this.$emit('routeToUpdate', set)
    },
    routeToDelete (set) {
      this.$emit('routeToDelete', set)
    },
  }
}
</script>

<style lang="css">
  .table-cos {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }

  .table-cos th, .table-cos td {
    text-align: center;
  }

  .pagination {
    display: block;
    border-radius: 4px;
    text-align: center;
  }

  .pagination > input {
    width: 4em;
  }
</style>