<template>
  <div class="row" v-cloak>
    <div class="table-cos member-cos">
      <table class="table table-hover">
        <!-- 表格標題 -->
        <thead>
          <tr>
            <th v-for="title of titles" :key="title.key">{{ title.name }}</th>
          </tr>
        </thead>
        <!-- 表格內容 -->
        <tbody>
          <!-- <tr v-for="set of rows" :key="set.username"> -->
            <tr v-for="(set, index) in filteredRows.slice(pageStart, pageStart + countOfPage)" :key="index">
            <td><router-link :to="{ name: 'MemberCategory', params: { username: set.username }}">{{ set.username }}</router-link></td>
            <td>{{ set.email }}</td>
            <td>{{ set.property }}</td>
            <td><button type="button" class="btn btn-warning btn-sm" @click.stop.prevent="routeToUpdate(set)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></td>
            <td><button type="button" class="btn btn-danger btn-sm" @click.stop.prevent="routeToDelete(set)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav class="navpg">
      <ul class="pagination" >
        <li v-bind:class="{'disabled': (currPage === 1)}" 
                @click.prevent="setPage(currPage-1)"><a href="#">Prev</a></li>
        <li v-for="n in totalPage" :class="{'active': (currPage === (n))}" 
                @click.prevent="setPage(n)" :key="n"><a href="#">{{n}}</a></li>
        <li v-bind:class="{'disabled': (currPage === totalPage)}" 
                @click.prevent="setPage(currPage+1)"><a href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { helperMixin } from '../mixins/helper-mixins'
export default {
  props: {
    allRows: {
      type: Array,
      default: () => {
        return []
      }
    },
    titles: {
      type: Array,
      default: () => {
        return []
      }
    },
  },
  data () {
    return {
      countOfPage: 10,
      currPage: 1,
      maxPage: 5,
    }
  },
  methods: {
    routeToUpdate (set) {
      this.$emit('routeToUpdate', set)
    },
    routeToDelete (set) {
      this.$emit('routeToDelete', set)
    },
    setPage: function(idx){
      if( idx <= 0 || idx > this.totalPage ){
        return;
      }
      this.currPage = idx;
    }
  },
  computed: {
    filteredRows: function(){
      return this.allRows;
    },
    pageStart: function(){
        return (this.currPage - 1) * this.countOfPage;
      },
    totalPage: function(){
      return Math.ceil(this.filteredRows.length / this.countOfPage);
    }
  }
}
</script>

<style lang="css">
  .serial-cos {
    height: 500px;
  }
  .navpg {
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
  .table-cos {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
  }

  .table-cos th, .table-cos td {
    text-align: center;
  }

  .pagination {
    display: block;
    border-radius: 4px;
    text-align: center;
  }

  .pagination > input {
    width: 4em;
  }
</style>